/* @override 
	http://localhost:8500/muracms/default/includes/themes/merced/css/core/merced.css
*/

/*
Theme:  Merced (HTML 5)
Author: Blue River Interactive Group
*/

/**
 * @depends /core/typography.css
 */

/* @group GLOBALS
===================================== */

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 62.5%;
	color: #434343;
	background: url(../../images/bg-body.gif) repeat-x;
	}
	
* { -moz-outline: 0; }

hr {
	clear: both;
	height: 0;
	margin: 2em 0;
	border: 1px solid #ccc;
	border-width: 1px 0 0;
	}

a {
	text-decoration: none;
	color: #2e7aa7;
	}

a:hover {
	text-decoration: underline;
	}

p.intro {
	color: #666;
	line-height: 1.4em;
	margin-bottom: 1.25em;
	}

/* @group Globals - HTML 5 Elements
===================================== */

article, aside, canvas, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* @end Globals - HTML 5 Elements
-------------------------------- */


/* @group Globals - Tables
===================================== */

.content table {
	width: 100%;
	margin-top: 30px;
	}

th {
	border: 1px solid;
	border-color: #becfd6 #becfd6 #dce6ea;
	color: #32566c;
	background: #e9f3f7;
	}

td {
	padding: 10px;
	border: 1px solid #d6d6d6;
	}

tr.alt td { background: #eee; }  /*Move*/ 

/* @end Globals - Tables
-------------------------------- */


/* @group Globals - Forms
===================================== */

article form {
	padding: 2em;
	background: #e9f3f7;
	overflow: hidden;
	max-width: 504px; /*width of article in three column layout*/
	}

article #svSearchResults form {
	max-width: 100%;
}

article fieldset {
	border: none;
	padding: 0;
	}


article legend {
	font-size: 1.4em;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}

article label {
	padding-top: .5em;
	line-height: 1;
	color: #0c2846;
	}

.submit, .buttons input {
	float: right;
	height: 2em;
	line-height: 2.1em;
	border: none;
	padding: 0 1em;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	background: #2e7aa7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	}

/* @group Globals - Forms - Search
===================================== */

#searchForm {
	position: absolute;
	top: 30%;
	right: 0;
	margin: 0;
	padding: 0;
	}

#searchForm fieldset {
	padding: 0;
	border: 0;
	}

#searchForm input.text {
	float: left;
	width: 160px;
	margin: 0 .75em 0 0;
	font-style: italic;
		padding: 1px;
	}

#searchForm .submit {
	float: right;
	}

/* @end Globals - Forms - Search
-------------------------------- */


/* @group Globals - Forms - Login
===================================== */

/* @group Globals - Forms - Login
===================================== */

#login {
	padding-bottom: 1em !important;
	}

#login ol {
	padding-top: 0;
	}

#svLoginContainer input.text {
	width: 99%;
	}

#svLoginContainer p.required {
	float: none;
	clear: both;
	}

#sendLogin fieldset {
	margin-top: -.5em;
	padding-top: .25em;
	}

/* @end Globals - Forms - Login
-------------------------------- */

aside #login {
	padding: 0;
	}

/* @end Globals - Forms - Login
-------------------------------- */


/* @group Globals - Forms - Comments
===================================== */

#svComments {
	border-top: 2px solid #ccc;
	margin-top: 3em;
	padding-top: 2em;
	}

#svComments dl {
	border-bottom: 1px dotted #ccc;
	}



/* @end Globals - Forms - Comments
-------------------------------- */

/* @end Globals - Forms
-------------------------------- */

/* @end GLOBALS
-------------------------------- */



/* @group HELPER CLASSES
===================================== */

.clearfix:after {
	content: " "; /* Avoid extra space */
	}

/* @end HELPER CLASSES
-------------------------------- */



/* @group LAYOUT
===================================== */

#container {
	width: 900px;
	margin: 0 auto;
	padding: 0 25px 25px;
	background: #fff;
	}

#content {
	position: relative;
	margin-top: 15px;
	}

.home #content {
	margin-top: 0;
	}

article {
	float: left;
	width: 100%;
	color: #232323;
	}
.home article {
	width: 687px;
	}
.twoColSL article {
	float: right;
	width: 707px;
	}

.twoColSR article {
	float: left;
	width: 707px;
	}

.threeCol article {
	width: 504px;
	}

.content,
aside {
	min-height: 100px; /*Fixes odd no-content disappearing bug.*/
	}

#left {
	float: left;
	width: 167px;
	margin-right: 26px;
	padding: 30px 0;
	}

.home #left {
	width: 687px;
	padding: 0;
	}

#right {
	float: right;
	width: 156px;
	margin: 13px 0 0;
	padding: 16px 13px;
	}

.home #right {
	width: 213px;
	margin: -40px 0 0 !important;
	padding: 0;
	}

.threeColSR {
	width: 167px;
	}



/* @group Layout - Header
===================================== */

header {
	position: relative;
	padding-top: 39px;
	}

h1 a {
	display: block;
	width: 102px;
	height: 32px;
	margin: 0 0 10px;
	text-indent: -9999px;
	background: url(../../images/logo.gif) no-repeat;
	}

header .navUtility {
	position: absolute;
	top: 32%;
	right: 225px;
	}

/* @end Layout - Header
-------------------------------- */


/* @group Layout - Right
===================================== */

#right {
	background: #f2f2f2;
	}

/* @end Layout - Right
-------------------------------- */


/* @group Layout - Footer
===================================== */

footer {
	clear: both;
	margin-top: 40px;
	padding-top: 17px;
	border-top: 1px solid #ededed;
	}

footer p {
	float: right;
	font-size: .9em;
	color: #999;
	}

/* @end Layout - Footer
-------------------------------- */

/* @end LAYOUT
-------------------------------- */



/* @group NAVIGATION/UI
===================================== */

/* @group Nav - Breadcrumb
===================================== */

#crumbList {
	margin: 0 0 1.5em;
	}

#crumbList li {
	font-size: 1.1em;
	}

#crumbList li a:hover {
	text-decoration: underline;
	}

/* @end Nav - Breadcrumb
-------------------------------- */

/* @group Nav - Utility
===================================== */

.navUtility {
	overflow: hidden;
	margin: 0;
	padding: 0;
	}

.navUtility li {
	display: inline;
	margin: 0 .5em 0 -0.5em;
	padding: 0 10px;
	list-style: none;
	font-size: 1em !important;
	}

footer .navUtility {
	float: left;
	}

footer .navUtility li {
	padding: 0 5px;
	border-left: 1px solid #cfcfcf;
	}

header .navUtility li {
	border-left: 1px solid #959595;
	}

footer .navUtility li a {
	color: #999;
	}

/* @end Nav - Primary
-------------------------------- */

/* @group Nav - Primary
===================================== */

#navPrimary {
	height: 40px;
	overflow: hidden;
	margin: 40px 0 0 0;
	padding: 0;
	list-style: none;
	font-weight: bold;
	color: #fff;
	background: #0c2846;
	}

#navPrimary li {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	}

#navPrimary li.first {
	margin-left: 15px;
	}

#navPrimary a {
	display: block;
	padding: 0 15px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
	}

#navPrimary li a:hover, #navPrimary li.current a, #navPrimary li:hover, #navPrimary li.sfhover {
	background: #2e7aa7;
	}

#navPrimary li:hover a, #navPrimary li li:hover a:hover, #navPrimary li.sfhover a:hover {
	color: #fff;
	}

#navPrimary li li a:hover {
	color: #fff;
		text-decoration: underline;
	}

/* @group Nav - Primary - Dropdown
===================================== */
/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

#navPrimary li ul { /* second-level lists */
	position: absolute;
	left: -9999px;
	z-index: 10;
	width: 12em;
	margin: 0;
	padding-left: 0;
	list-style: none;
	background: #2e7aa7;
	}

#navPrimary li li { /* all list items */
	float: left;
	width: 12em; /* width needed for Opera */
	margin: 0 !important;
	}

#navPrimary li li a {
	display: block;
	padding: .5em;
	line-height: 1;
	text-transform: none;
	}

#navPrimary ul li.first,
#navPrimary ul li li.first { /* all list items */
	border: 0;
	}

#navPrimary li ul ul { /* third-and-above-level lists */
	margin: -1.95em 0 0 12em;
	}

#navPrimary li:hover ul ul,
#navPrimary li:hover ul ul ul,
#navPrimary li.sfhover ul ul,
#navPrimary li.sfhover ul ul ul {
	left: -9999px;
		z-index: 1001;
	}

#navPrimary li:hover ul,
#navPrimary li li:hover ul,
#navPrimary li li li:hover ul,
#navPrimary li.sfhover ul,
#navPrimary li li.sfhover ul,
#navPrimary li li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
	}

/* @end Nav - Primary - Dropdown
-------------------------------- */



/* @end Nav - Primary
-------------------------------- */





/* @group Nav - Secondary
===================================== */

.navSecondary {
	margin: 0 0 4em;
	padding: 0;
	list-style: none;
	height: auto;
	}

.navSecondary li {
	margin: 0 0 .5em;
	padding: 0 0 .5em;
	border-bottom: 1px solid #d6d6d6;
	line-height: 1.2;
	}

.navSecondary .last {
	border: 0;
	padding-bottom: 0;
	}

.navSecondary li ul {
	margin: .5em 0 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	}

.navSecondary li {
	margin-bottom: .5em;
	}

.navSecondary li a {
	display: block;
	}
.navSecondary li a:hover {
	}

.navSecondary li.current a {
	font-weight: bold;
	color: #ff3405;
	}


/* @group Nav - Secondary - Second Level
===================================== */

.navSecondary li.current ul {
	}

.navSecondary li li {
	margin: 0 0 .5em 1em;
	padding: 0;
	border-bottom: none;
	list-style: none;
	line-height: 1.2em;
	}

.navSecondary li.current li a {
	font-weight: normal;
	color: #434343;
	}

/* @end Nav - Secondary - Second Level
-------------------------------- */

/* @end Nav - Secondary
-------------------------------- */


/* @group Nav - More Results
===================================== */

.moreResults {
	border-top: 2px solid #e6e6e6;
	padding-top: 1.5em;
}

/*.moreResults dt {
	float: left;
	margin-right: .5em;
	}*/

.moreResults ul {
	/*float: right;*/
	overflow: hidden;
	margin: 0;
	padding: 0;
	}

.moreResults li {
	display: inline;
	padding: 0 .25em;
	list-style: none;
	border-right: 1px solid #b6b6b6;
	}
	
.moreResults li.resultsFound {
	padding-right: .5em;
}
	
.moreResults li.navNext {
	border-right: 0;
	}
	
.moreResults li.navPrev {
	border-right: 0;
	}

.moreResults li a {
	padding: 0;
	}

/* @end Nav - More Results
-------------------------------- */

/* @end NAVIGATION/UI
-------------------------------- */



/* @group MODULES
===================================== */

a#svAsset {
	font-size: 1.4em;
}

/* @group Galleries
===================================== */

#svGallery {
	border-top: 2px solid #e6e6e6;
	padding-top: 1.8em;
}

#svGallery li a {
	border: 0px solid #ccc; /* Add the the total number of pixels added by borders and padding here to includes/display_objects/gallery/htmlhead/gallery.cfm */
	}


/* @end
-------------------------------- */

/* @group Calendar
===================================== */

.svCalendar table {
	margin-top: 0;
	}

.svCalendar th {
	background: #0c2846;
	vertical-align: middle;
	color: #fff;
	}

.svCalendar th a, .svCalendar th a:hover {
	background: #0c2846;
	color: #fff;
	}

.svCalendar th a:hover {
	color: #2e7aa7;
	}


.svCalendar tr.dayofweek td {
	background: #2e7aa7;
	color: #fff;
	font-weight: normal;
	}

.svCalendar th,
.svCalendar td {
	border: 1px solid #fff;
	}

.svCalendar td {
		background: #e9f3f7;
	}

#svCalendarNav td {
	vertical-align: middle;
}
	
#svCalendarNav td a {
	display: block;
	margin-bottom: 1px;
	padding: 3px 4px;
	background: #ff3405;
	color: #fff;
}

#svCalendarNav td a:hover {
	background: #0c2846;
	text-decoration: none;
}


/* @end Calendar
-------------------------------- */

/* @group Dragable Feeds */

#svRSSFeeds form {
	background: transparent;
	}

li.boxItemHeader { /* Link of items inside dragable boxes */
	color: #2e7aa7;
	padding-left: 10px;
	background: url(../../images/pointer_red_sm.gif) no-repeat left .25em;
	}

a.boxItemHeader { /* Link of items inside dragable boxes */
	color: #2e7aa7;
	}

#svAddNewFeed {
	padding: 0 !important;
	background: transparent !important;
	}

#svAddNewFeed button { /* !important used to override dragable_feeds.css */
	background: #2e7aa7 !important;
	font-size: 11px !important;
	}

/* @end */



/* @group Features
===================================== */

#features {
	overflow: hidden;
	}

#features dl {
	float: left;
	clear: none;
	width: 213px;
	margin: 0 16px 0 0;
	}

#features dt {
	font-size: 2em;
	font-weight: bold;
	letter-spacing: -0.025em;
	}

#features dt a {
	color: #232323;
	}

#features dt a:hover {
	text-decoration: none;
	}

#features dd {
	font-size: 1.1em;
	}

#features dd p {
	margin: -3px 0 8px;
	line-height: 15px;
	}

#features dd a {
	font-weight: bold;
	}

#features dd.image {
	float: none;
	margin: 0 0 1.7em;
	position: relative;
	}

#features dd.image img {
	/* recommended size: */
	/*width: 213px;*/
	/*height: 120px;*/
	}


/* @end Features
-------------------------------- */


/* @group Home Feeds
===================================== */
.home aside .svIndex {
	margin: 0;
}

.home aside .svIndex li {
	padding: 0 1em;
}

.home aside .svIndex h3 {
	display: block;
	padding: 0 1em;
	margin-bottom: 1em;
	line-height: 40px;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
	background: #ff3405;
	}
	
.home aside .svIndex li h3 {
	background: none;
	line-height: 1.1;
	padding: 0;
	margin-bottom: .75em;
}

.home aside .svIndex dl {
	margin: 0 1.5em 1em;
	padding: 0 0 .5em;
	border-bottom: 1px solid #d6d6d6;
	}

.home aside .svIndex dl.last, .home aside .svIndex dl:last-child {
	border-bottom: 0;
	padding-bottom: 0;
	}

.home aside .svIndex dt {
	margin: 0 0 .25em;
	padding: 0;
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1;
	}

.home aside .svIndex .releaseDate {
	margin: 0 0 .5em;
	font-size: 1em;
	text-transform: uppercase;
	color: #979797;
	}

.home aside .svIndex dd, .home aside .svIndex p {
	margin: 0 1em .25em 0;
	padding: 0;
	font-size: 1.1em;
	color: #434343;
	}

.home aside .svIndex dd.summary {
	margin: 0 0 .5em;
	}

.home aside .credits,
.home aside .tags,
.home aside .ratings,
.home aside .credits {
	font-size: 10px;
	color: #999 !important;
	}

.home aside .svIndex dl.hasImage .image {
	margin: 0 .5em 0em 0;
	}

.home aside .svIndex dl.hasImage .image img {
	width: 50px;
	}

.home aside .svIndex dd p {
	margin: 0;
	padding: 0;
	line-height: inherit;
	}

.home aside .svIndex span.readMore a {
	display: none;
	}

/* @end Home Promo Feeds
-------------------------------- */

/* @group Indexes
===================================== */

.svIndex dl, .svIndex>ul li {
	padding-bottom: 1em;
	border-bottom: 1px dotted #ccc;
	}

aside .svIndex dl, .svIndex>ul li {
	margin: .5em 0;
	padding: .5em 0 .5em;
	}

.svIndex dl.hasImage .image, .svIndex>ul li.hasImage .image {
		float: none;
		}

.content .svIndex {
	margin-top: 2em;
	}

.content .svIndex dt, .content .svIndex>ul li h3 {
	font-size: 1.6em;
	margin-bottom: .5em;
	}

.svIndex .releaseDate {
	text-transform: uppercase;
	color: #777;
	margin-bottom: .5em;
	font-size: 1em !important;
	}

.svIndex dd, .svIndex .summary {
	line-height: 1.2;
	}

/* @group Ratings */

.content .svIndex .credits,
.content .svIndex .comments,
.content .svIndex .tags,
.content .svIndex .rating {
	line-height: 20px; /* acommodate height of stars */
	}

.stars a {
	width: 14px;
	height: 13px;
	background: transparent url(../../images/rater/stars.png) no-repeat;
}

.zero { background-image: url(../../images/rater/star_zero.png); }
.one { background-image: url(../../images/rater/star_one.png); }
.onehalf { background-image: url(../../images/rater/star_onehalf.png); }
.two { background-image: url(../../images/rater/star_two.png); }
.twohalf { background-image: url(../../images/rater/star_twohalf.png); }
.three { background-image: url(../../images/rater/star_three.png); }
.threehalf { background-image: url(../../images/rater/star_threehalf.png); }
.four { background-image: url(../../images/rater/star_four.png); }
.fourhalf { background-image: url(../../images/rater/star_fourhalf.png); }
.five { background-image: url(../../images/rater/star_five.png); }

/* @end */

/* @group Slideshow
===================================== */
.svSlideshow {
	
}

.svSlides {
	
}

.svSlides h3 {
}

.svSlides dl, .svSlides ul>li {

}

.svSlides ul {

}
	
.home .svSlideshow {
	position: relative;
	width: 627px;
	overflow: hidden;
	padding: 30px 30px 10px;
	margin: 0 0 2.2em;
	color: #b4dffa;
	background: #102e50 url(../../images/bg-hero.jpg) no-repeat !important;
	border: 0;
	}

.home .svSlides {
	position: relative;
	border: 0;
	z-index: 1;
	padding: 0;
	margin: 0 !important;
	}

.home .svSlides dl, .home .svSlides>ul li {
	width: auto !important;
	padding-bottom: 0;
	margin-right: 0;
	border: 0;
	font-size: 1em;
	background: transparent !important; /*for IE 6/7*/
	}

.home .svSlides dt, .home .svSlides>ul li h3 {
	margin-bottom: .35em !important;
	font-size: 2.6em !important;
	font-weight: bold;
	letter-spacing: -0.025em;
	line-height: 1;
	color: #fff;
	}

.home .svSlides .releaseDate {
	color: #abdffa;
	font-size: 11px !important;
	font-weight: normal;
	margin-bottom: .5em !important;
	}

.home .svSlides dt a, .home .svSlides>ul li h3 a {
	color: #fff;
	}

.home .svSlides dd, .home .svSlides>ul li  {
	margin-bottom: 1.1em;
	letter-spacing: -0.025em;
	font-size: 12px !important;
	line-height: 1.2em;
	padding: 0;
	}

.home .svSlides .image { 
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	float: none;
	padding: 0;
	border: 3px solid #1c5981;
	}

.home .svSlides .image img {
	display: block;
	}
	
.home .svSlides dd.credits {
	font-size: 11px !important;
	color: #fff;
	}
	
.home .svSlides dd.tags {
	margin-left: 1em;
	font-size: 11px !important;
	}

.home .svSlides .readMore {
	/*position: absolute;
	bottom: 0px;*/
	}

.home .svSlides .readMore a {
	font-size: 11px !important;
	font-weight: bold;
	color: #fff;
	height: 2.1em;
	line-height: 2.1em;
	border: none;
	padding: 0 1em;
	display: block;
	width: 60px;
	text-align: left;
	padding-right: 22px;
	margin-top: .75em;
	background: #2e7aa7 url(../../images/arrows_white.gif) no-repeat 6.8em 50%;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	}

.svPager {
	text-align: center;
	line-height: 2;
	z-index: 200;
	}

.home ol.svPager { /* width set dynamically in /display_ojects/feedslideshow/htmlhead/slideshow.jquery.cfm */
	/* width: #pagerWidth#; */
	position: relative;
	text-align: center;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	}

ol.svPager li {

	}

ol.svPager a {
	color: #fff;
	background: #0c243a;
	outline: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}

ol.svPager li.activeLI a,
ol.svPager a:hover {
	background: #ff3405;
	text-decoration: none;
	}



/* @end Slideshow
-------------------------------- */

/* @end Indexes
-------------------------------- */


/* @group Session Tools
===================================== */

#svSessionTools p#welcome {
	font-weight: bold;
	color: #ff3405;
	}

/* @end Session Tools
-------------------------------- */


/* @group User Tools - Categories
===================================== */

#svCategories li {
	margin: 0;
	padding: 0;
	}

#svCategories li a {
	margin: 0;
	padding: 0;
	}

/* @end User Tools - Categories
-------------------------------- */


/* @group User Tools - Favorites
===================================== */

#favoriteList li {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	}

#favoriteList li a {
	margin: 0;
	padding: 0;
	}

/* @end User Tools - Favorites
-------------------------------- */

/* @end MODULES
-------------------------------- */


/* EOF */