<cfcomponent extends="mura.cfobject">

	<cffunction name="dspZoomNoLinks" returntype="string" output="false">
		<cfargument name="crumbdata" required="yes" type="array">
		<cfargument name="fileExt" type="string" default="" hint="deprecated, this is now in the crumbData">
		<cfargument name="class" type="string" default="navZoom">
		<cfargument name="charLimit" type="numeric" default="0">
		<cfargument name="minLevels" type="numeric" default="0">
		<cfargument name="maxLevels" type="numeric" default="0">
		<cfargument name="renderer">
		<cfset var content = "">
		<cfset var locked = "">
		<cfset var lastlocked = "">
		<cfset var crumbLen = arrayLen(arguments.crumbdata)>
		<cfset var i = 0 />
		<cfset var icon = "">
		<cfset var isFileIcon = false>
		<cfset var charCount = 0>
		<cfset var limited = false>
		<cfif arguments.charLimit>
			<!--- change crumbLen --->
			<cfloop from="1" to="#arrayLen(arguments.crumbdata)#" index="i">
				<cfset charCount = charCount + len(arguments.crumbdata[i].menutitle) + 3> <!--- add 3 to offset the icon width--->
				<cfif charCount gte arguments.charLimit>
					<cfset crumbLen = i - 1>
					<cfset limited = true>
					<cfbreak>
				</cfif>
			</cfloop>
		</cfif>
		<cfif arguments.minLevels and crumbLen lt arguments.minLevels and arguments.minLevels lte arrayLen(arguments.crumbdata)>
			<cfset crumbLen = arguments.minLevels>
		</cfif>
		<cfif arguments.maxLevels and crumbLen gt arguments.maxLevels and arguments.maxLevels lte arrayLen(arguments.crumbdata)>
			<cfset crumbLen = arguments.maxLevels>
		</cfif>
		<cfsavecontent variable="content">
		<cfoutput>
			<ul class="#arguments.class#">
		<cfif limited>
			<li>&hellip;</li>
		</cfif>
		<cfloop from="#crumbLen#" to="2" index="i" step="-1">
			<cfsilent>
				<cfif arguments.crumbdata[i].restricted eq 1><cfset locked="locked"></cfif>
				<cfset icon=arguments.renderer.renderIcon(arguments.crumbdata[i])>
				<cfset isFileIcon=arguments.crumbdata[i].type eq 'File' and listFirst(icon,"-") neq "icon">
			</cfsilent>
			<li class="#icon# #locked#<cfif isFileIcon> file</cfif>"<cfif isFileIcon> data-filetype="#left(icon,4)#"</cfif>> #HTMLEditformat(arguments.crumbdata[i].menutitle)# &raquo;</li>
		</cfloop>
		<cfsilent>
			<cfif locked eq "locked" or arguments.crumbdata[1].restricted eq 1>
				<cfset lastlocked="locked">
			</cfif>
			<cfset icon=arguments.renderer.renderIcon(arguments.crumbdata[1])>
			<cfset isFileIcon=arguments.crumbdata[1].type eq 'File' and listFirst(icon,"-") neq "icon">
		</cfsilent>
		<li class="#icon# #locked#<cfif isFileIcon> file</cfif>"<cfif isFileIcon> data-filetype="#left(icon,4)#"</cfif>> <strong>#HTMLEditformat(arguments.crumbdata[1].menutitle)#</strong></li>
		</ul></cfoutput></cfsavecontent>
		
		<cfreturn content />
	</cffunction>

	<cffunction name="renderEditableAttribute" output="false">
		<cfargument name="attribute">
		<cfargument name="type" default="text">
		<cfargument name="required" default="false">
		<cfargument name="validation" default="">
		<cfargument name="message" default="">
		<cfargument name="label">
		<cfargument name="value">
		<cfargument name="enableMuraTag" default="true">
		<cfargument name="renderer">
		<cfscript>
			if(not structKeyExists(arguments,'label')){
				arguments.label=arguments.attribute;
			}

			arguments.attribute=lcase(arguments.attribute);

			if(not structKeyExists(arguments,'value')){
				arguments.value=arguments.renderer.getMuraScope().content(arguments.attribute);
			}

			if(arguments.enableMuraTag){
				arguments.value=arguments.renderer.setDynamicContent(arguments.value);
			}
			
			var perm=(listFindNoCase('editor,author',arguments.renderer.getMuraScope().event('r').perm) or listFind(session.mura.memberships,'S2'));
			var layoutManager=arguments.renderer.useLayoutmanager();

			if(arguments.renderer.hasFETools() && arguments.renderer.showInlineEditor && perm && not (reFindNoCase('(MSIE 8|MSIE 7|MSIE 6)', cgi.http_user_agent))){
				
				var dataString='';
				var inline=' inline';
				var cssClass="";

				dataString=' data-attribute="#arguments.attribute#" data-type="#arguments.type#"';
		
				if(yesNoFormat(arguments.required)){
					dataString=dataString & ' data-required="true"';
				} else {
					dataString=dataString & ' data-required="false"';
				}

				if(len(arguments.validation)){
					dataString=dataString & ' data-validate="#arguments.validation#"';
				}
				
				dataString=dataString & ' data-message="#HTMLEditFormat(arguments.message)#"';
				dataString=dataString & ' data-label="#HTMLEditFormat(arguments.label)#"';

				if(arguments.type == 'HTMLEditor' ){
					inline='';

					if(not len(arguments.value)){
						arguments.value="<p></p>";
					}

					cssClass='mura-region-local ';
					dataString=dataString & ' data-loose="true" data-perm="true" data-inited="false"';
				
					cssClass=cssClass & "inactive mura-editable-attribute#inline#";
			
					return '<div class="mura-region mura-editable inactive#inline#">
						<label class="mura-editable-label">#ucase(arguments.label)#</label>
						<div contenteditable="false" id="mura-editable-attribute-#arguments.attribute#" class="#cssClass#" #dataString#>#arguments.value#</div>
						</div>';

				} else {
					cssClass=cssClass & "inactive mura-editable-attribute#inline#";
			
					return '<div class="mura-editable inactive#inline#">
						<label class="mura-editable-label">#ucase(arguments.label)#</label>
						<div contenteditable="false" id="mura-editable-attribute-#arguments.attribute#" class="#cssClass#" #dataString#>#arguments.value#</div>
						</div>';

				}		
			} else if (layoutManager && arguments.type == 'htmlEditor'){

				return '<div class="mura-region">
					<div class="mura-region-local">#arguments.value#</div>
					</div>';
			} else {
				return arguments.value;
			}
		</cfscript>
	</cffunction>

	<cffunction name="iconClassByContentType" output="false">
		<cfargument name="type">
		<cfargument name="subtype" default="Default">
		<cfargument name="siteid" default="">

		<cfif len(arguments.siteID)>
			<cfset var iconclass=application.classExtensionManager.getCustomIconClass(siteid=arguments.siteid,type=arguments.type,subtype=arguments.subtype)>
			
			<cfif len(iconclass)>
				<cfreturn iconclass>
			</cfif>
		</cfif>

		<cfswitch expression="#arguments.type#">
		<cfcase value="Folder">
			<cfreturn "icon-folder-open-alt">
		</cfcase>
		<cfcase value="Calendar">
			<cfreturn "icon-calendar">
		</cfcase>
		<cfcase value="Gallery">
			<cfreturn "icon-th">
		</cfcase>
		<cfcase value="GalleryItem">
			<cfreturn "icon-picture">
		</cfcase>
		<cfcase value="Link">
			<cfreturn "icon-link">
		</cfcase>
		<cfcase value="Quick">
			<cfreturn "icon-upload-alt">
		</cfcase>
		<cfcase value="File">
			<cfreturn "icon-file-text-alt">
		</cfcase>
		<cfdefaultcase>
			<cfreturn "icon-file">
		</cfdefaultcase>
		</cfswitch>

	</cffunction>

	<cffunction name="generateListImageStyles" output="false">
		<cfargument name="size" default="small">
		<cfargument name="height" default="auto">
		<cfargument name="width" default="auto">
		<cfargument name="padding" default="#this.contentListImagePadding#">
		<cfargument name="setHeight" default="true">
		<cfargument name="setWidth" default="true">
		<cfargument name="renderer">
		
		<cfset var imageStyles=structNew()>
		<cfset var customImageSize="">
		<cfset imageStyles.markup="">

		<cfif arguments.size eq "" or 
			(arguments.size eq "Custom"
			and arguments.width eq "auto"
			and arguments.height eq "auto")>
			<cfset arguments.size="small">
		</cfif>
		<cfif arguments.size eq "large">
			<cfset arguments.size = "main" />
		</cfif>
			
		<cfif listFindNoCase('small,medium,large',arguments.size)>
			<cfif isNumeric(arguments.renderer.getMuraScope().siteConfig('#arguments.size#ImageWidth'))>
				<cfset imageStyles.paddingLeft=arguments.renderer.getMuraScope().siteConfig('#arguments.size#ImageWidth') + arguments.padding>
			<cfelse>
				<cfset imageStyles.paddingLeft="auto">
			</cfif>
			<cfif isNumeric(arguments.renderer.getMuraScope().siteConfig('#arguments.size#ImageHeight'))>
				<cfset imageStyles.minHeight=arguments.renderer.getMuraScope().siteConfig('#arguments.size#ImageHeight') + arguments.padding>
			<cfelse>
				<cfset imageStyles.minHeight="auto">
			</cfif>
		<cfelseif arguments.size eq 'custom'>
			<cfif isNumeric(arguments.width)>
				<cfset imageStyles.paddingLeft=arguments.width + arguments.padding>
			<cfelse>
				<cfset imageStyles.paddingLeft="auto">
			</cfif>
			<cfif isNumeric(arguments.height)>
				<cfset imageStyles.minHeight=arguments.height + arguments.padding>
			<cfelse>
				<cfset imageStyles.minHeight="auto">
			</cfif>
		<cfelse>
			<cfset customImageSize=getBean('imageSize').loadBy(name=arguments.size,siteID=arguments.renderer.getMuraScope().event('siteID'))>
			<cfset arguments.Width=customImageSize.getWidth() />
			<cfset arguments.Height=customImageSize.getHeight() />
			
			<cfif isNumeric(arguments.width)>
				<cfset imageStyles.paddingLeft=arguments.width + arguments.padding>
			<cfelse>
				<cfset imageStyles.paddingLeft="auto">
			</cfif>
			<cfif isNumeric(arguments.height)>
				<cfset imageStyles.minHeight=arguments.height + arguments.padding>
			<cfelse>
				<cfset imageStyles.minHeight="auto">
			</cfif>
		</cfif>
			
		<cfif imageStyles.minHeight neq "auto" and arguments.setHeight>
			<cfset imageStyles.markup="#imageStyles.markup#min-height:#imageStyles.minHeight#px;">
		</cfif>
		<cfif imageStyles.paddingLeft neq "auto" and arguments.setWidth>
			<cfset imageStyles.markup="#imageStyles.markup#padding-left:#imageStyles.paddingLeft#px;">
		</cfif>
			
		<cfreturn imageStyles.markup>

	</cffunction>

	<cffunction name="getCurrentURLArray" output="false">
		<cfargument name="renderer">
		<cfset var crumbdata=arguments.renderer.getValue('crumbdata')>
		<cfset var topURL=renderer.getMuraScope().createHREF(filename=crumbdata[arrayLen(crumbdata)-arguments.renderer.getNavOffSet()].filename)>
		<cfset var tempUrlArray=arguments.renderer.getMuraScope().getCrumbPropertyArray(property='url',direction="desc")>
		<cfset var i=1>
		<cfset var urlArray=[]>
		<cfset var started=false>

		<cfloop from="1" to="#arrayLen(tempUrlArray)#" index="i">
			<cfif tempUrlArray[i] eq topURL>
				<cfset started=true>
				<cfif i eq arrayLen(tempUrlArray)>
					<cfset arrayAppend(urlArray,tempUrlArray[i])>
				</cfif>
			<cfelseif started>
				<cfset arrayAppend(urlArray,tempUrlArray[i])>
			</cfif>
		</cfloop>

		<cfreturn urlArray>
	</cffunction>

	<cffunction name="getPagesQuery" returntype="query" output="false">
		<cfargument name="str">

		<cfset var pageList=replaceNocase(arguments.str,"[mura:pagebreak]","murapagebreak","ALL")>
		<cfset var rs=queryNew("page")>
		<cfset var i=1>
		<cfset var pageArray=ArrayNew(1)>
		<cfset pageList=replaceNocase(pageList,"${pagebreak}","murapagebreak","ALL")>
		<cftry>
			<cfset pageArray=pageList.split("murapagebreak",-1)>
			<cfcatch>
			<cfset pageArray[1]=arguments.str>
			</cfcatch>
		</cftry>
		
		<cfloop from="1" to="#arrayLen(pageArray)#"index="i">	
	    	<cfset queryAddRow(rs,1)/>
			<cfset querysetcell(rs,"page",pageArray[i],rs.recordcount)/>
		</cfloop>
		<cfreturn rs>
	</cffunction>

	<cffunction name="dspMultiPageContent" returntype="any" output="false">
		<cfargument name="body">
		<cfargument name="renderer">
		<cfset var str="">
		<cfset var rsPages=getPagesQuery(arguments.body)>
		<cfset var currentNextNIndex=1>
		<cfset var event=renderer.getEvent()>

		<cfset event.setValue("currentNextNID",event.getContentBean().getContentID())>

		<cfif not len(event.getValue("nextNID")) or event.getValue("nextNID") eq event.getValue("currentNextNID")>
			<cfset currentNextNIndex=event.getValue("pageNum")>
		</cfif>

		<cfset var nextN=application.utility.getNextN(rsPages,1,currentNextNIndex,5,false)>

		<cfsavecontent variable="str">
		<cfoutput query="rsPages"  startrow="#request.pageNum#" maxrows="#nextn.RecordsPerPage#">
			#arguments.renderer.setDynamicContent(rsPages.page)#
		</cfoutput>
		<cfif nextn.numberofpages gt 1>
			<cfoutput>#arguments.renderer.dspObject_Include(thefile='dsp_nextN.cfm')#</cfoutput>
		</cfif>
		</cfsavecontent>

		<cfreturn str>
	</cffunction>

	<cffunction name="generateEditableHook" output="false">
		<cfargument name="renderer">
		<cfif arguments.renderer.getJSLib() eq "prototype">
			<cfreturn '#arguments.renderer.shadowboxattribute#="shadowbox;width=1050;"'>
		<cfelse>
			<cfreturn 'class="frontEndToolsModal"'>
		</cfif>
	</cffunction>

	<cffunction name="generateEditableObjectControl" access="public" output="no" returntype="string">
		<cfargument name="editLink" required="yes" default="">
		<cfargument name="isConfigurator" default="false">
		<cfargument name="showEditableObjects" default="false">
		<cfargument name="enableFrontEndTools" default="false">
		<cfargument name="renderer">
		<cfset var str = "">
		
		<cfif arguments.showEditableObjects and arguments.enableFrontEndTools>		
		<cfsavecontent variable="str">
			<cfoutput>
			<ul class="editableObjectControl">
				<li class="edit"><a href="#arguments.editLink#" data-configurator="#arguments.isConfigurator#" title="#htmlEditFormat('Edit')#" #arguments.renderer.generateEditableHook()#></a></li>
			</ul>
			</cfoutput>
		</cfsavecontent>
		</cfif>
		
		<cfreturn str>
	</cffunction>

	<cffunction name="renderEditableObjectHeader" access="public" output="no" returntype="string">
		<cfargument name="class" required="yes" default="">
		<cfargument name="customWrapperString" required="yes" default="">
		<cfargument name="showEditableObjects" default="false">
		<cfargument name="enableFrontEndTools" default="false">
		<cfargument name="renderer">
		<cfset var str = "">
		
		<cfif arguments.showEditableObjects and arguments.enableFrontEndTools>		
		<cfsavecontent variable="str">
			<cfoutput>
			<span class="editableObject #arguments.class#" #arguments.customWrapperString#><span class="editableObjectContents">
			</cfoutput>
		</cfsavecontent>
		</cfif>
		
		<cfreturn str>
	</cffunction>

	<cffunction name="renderEditableObjectfooter" access="public" output="no" returntype="string">
		<cfargument name="control" required="yes" default="">
		<cfargument name="showEditableObjects" default="false">
		<cfargument name="enableFrontEndTools" default="false">
		<cfargument name="renderer">
		<cfset var str = "">
		
		<cfif arguments.showEditableObjects and arguments.enableFrontEndTools>		
		<cfsavecontent variable="str">
			<cfoutput>
			<cfoutput></span>#arguments.control#</cfoutput></span>
			</cfoutput>
		</cfsavecontent>
		</cfif>
		
		<cfreturn str>
	</cffunction>

	<cffunction name="getCurrentURL" access="public" returntype="string" output="false">
		<cfargument name="complete" required="true" type="boolean" default="true">
		<cfargument name="injectVars" required="true" type="string" default="">
		<cfargument name="filterVars" required="true" type="boolean" default="true">
		<cfargument name="domain" default="#listFirst(cgi.http_host,":")#">
		<cfargument name="renderer">
		<cfargument name="filterVarsList" default="">
		<cfset var qrystr=''>
		<cfset var host=''>
		<cfset var item = "" />
		<cfset var _filterVarsList='NOCACHE,PATH,DELETECOMMENTID,APPROVEDCOMMENTID,LOADLIST,INIT,SITEID,DISPLAY,#ucase(application.appReloadKey)#,#filterVars#'>
		
		<cfif len(arguments.filterVarsList)>
			<cfset _filterVarsList=_filterVarsList & ',' & arguments.filterVarsList>
		</cfif>

		<cfloop collection="#url#" item="item">
			<cfif not arguments.filterVars and item neq 'path' or (not listFindNoCase(_filterVarsList,item) 
				 and not (item eq 'doaction' and url[item] eq 'logout')) >	
				<cftry>
				<cfif len(qrystr)>	
						<cfset qrystr="#qrystr#&#item#=#URLEncodedFormat(url[item])#">	
				<cfelse>	
					<cfset qrystr="?#item#=#URLEncodedFormat(url[item])#">
				</cfif>
				<cfcatch ></cfcatch>
				</cftry>
			</cfif>
			
		</cfloop>
		
		<cfif len(arguments.injectVars)>
			<cfif len(qrystr)>
				<cfset qrystr=qrystr & "&#arguments.injectVars#">
			<cfelse>
				<cfset qrystr="?#arguments.injectVars#">
			</cfif>
		</cfif>
		
		<cfif arguments.complete>
			<cfif application.utility.isHTTPS()>
				<cfset host='https://#arguments.domain##arguments.renderer.getMuraScope().siteConfig('ServerPort')#'>
			<cfelse>
				<cfset host='#arguments.renderer.getMuraScope().siteConfig('scheme')#://#arguments.domain##arguments.renderer.getMuraScope().siteConfig('ServerPort')#'>
			</cfif>
		</cfif>
		
		<cfreturn host & arguments.renderer.getMuraScope().siteConfig('context') & arguments.renderer.getURLStem(request.servletEvent.getValue('siteID'),request.servletEvent.getValue('currentFilename')) & qrystr >
		
	</cffunction>

	<cffunction name="getPersonalizationID" returntype="string" output="false">
		<cfargument name="renderer">

		<cfif arguments.renderer.getPersonalization() eq "user">
		<cfreturn session.mura.userID />
		<cfelse>
		<cfif not structKeyExists(cookie,"pid")>
		<cfcookie name="pid" expires="never" value="#application.utility.getUUID()#" httpOnly="true" secure="#arguments.renderer.getMuraScope().globalConfig('secureCookies')#">
		</cfif>
		<cfreturn cookie.pid />
		</cfif>
	</cffunction>

	<cffunction name="getContentListProperty" output="false">
		<cfargument name="property" default="">
		<cfargument name="contentListPropertyMap">
		<cfargument name="renderer">

		<cfif structKeyExists(arguments.contentListPropertyMap,arguments.property)>
			<cfreturn arguments.contentListPropertyMap[arguments.property]>
		<cfelse>
			<cfreturn arguments.contentListPropertyMap.default>
		</cfif>

	</cffunction>

	<cffunction name="getContentListPropertyValue" output="false">
		<cfargument name="property" default="">
		<cfargument name="value" default="">
		<cfargument name="renderer">

		<cfset var propStruct=arguments.renderer.getContentListProperty(arguments.property)>
		<cfif structKeyExists(propStruct,arguments.value)>
			<cfreturn propStruct[arguments.value]>
		<cfelse>
			<cfreturn "">
		</cfif>
	</cffunction>

	<cffunction name="getContentListLabel" output="false">
		<cfargument name="property" default="">
		<cfargument name="renderer">

		<cfset var propStruct=arguments.renderer.getContentListProperty(arguments.property)>
		<cfset var returnString="">

		<cfif structKeyExists(propStruct,"showLabel") and propStruct.showLabel>
			<cfset var labelEl="labelEl">
			<cfif structKeyExists(propStruct,"labelEl")>
				<cfset labelEl=propStruct.labelEl>
			</cfif>
			<cfset returnString="<" & arguments.renderer.getContentListPropertyValue(labelEl,'tag') &  arguments.renderer.getContentListAttributes(labelEl)& ">">
			<cfif structKeyExists(propStruct, "rbKey")>
				<cfset returnString=returnString & htmlEditFormat(arguments.renderer.getMuraScope().rbKey(propStruct.rbkey))>
			<cfelseif structKeyExists(propStruct, "label")>
				<cfset returnString=returnString & htmlEditFormat(propStruct.label)>
			<cfelse>
				<cfset returnString=returnString & arguments.property>
			</cfif>
			<cfif structKeyExists(propStruct, "labelDelim")>
				<cfset returnString=returnString & propStruct.labelDelim>
			</cfif>
			<cfset returnString=returnString & "</" & arguments.renderer.getContentListPropertyValue(labelEl,'tag') & ">">
		</cfif>
		
		<cfreturn returnString>
	</cffunction>

	<cffunction name="getContentListAttributes" returntype="string" output="false">
		<cfargument name="property" default="">
		<cfargument name="class" default="">
		<cfargument name="renderer">

		<cfset var propStruct=arguments.renderer.getContentListProperty(arguments.property)>
		<cfset var returnstring="">
		<cfset var propclass="">

		<cfif structKeyExists(propStruct,"class")>
			<cfset propclass=propStruct.class>
		<cfelseif not listFindNoCase('containerel,itemel',arguments.property)>
			<cfset propclass=lcase(arguments.property)>
		</cfif>

		<cfset arguments.class=trim(propclass & " " & arguments.class)>
		
		<cfif len(arguments.class)>
			<cfset returnstring=' class="' & arguments.class & '"'>
		</cfif>
		
		<cfif structKeyExists(propStruct,"attributes")>
			<cfset returnstring= trim(returnstring & " " & propStruct.attributes)>
		</cfif>

		<cfreturn returnstring>
	</cffunction>

	<cffunction name="getListFormat" output="false">
		<cfargument name="contentListPropertyMap">
		<cfargument name="renderer">

		<cfif listFindNoCase("ul,ol",arguments.contentListPropertyMap.containerEl.tag)>
			<cfreturn arguments.contentListPropertyMap.containerEl.tag>
		<cfelse>
			<cfreturn arguments.contentListPropertyMap.itemEl.tag>
		</cfif>
	</cffunction>

	<cffunction name="loadShadowboxJS" returntype="void" output="false">
		<cfargument name="renderer">
		<!---<cfif not cookie.mobileFormat>--->
			<cfswitch expression="#arguments.renderer.getJsLib()#">
				<cfcase value="prototype">
					<cfset arguments.renderer.addToHTMLHeadQueue("shadowbox-prototype.cfm")>
				</cfcase>
				<cfdefaultcase>
					<cfset arguments.renderer.addToHTMLHeadQueue("shadowbox-jquery.cfm")>
				</cfdefaultcase>
			</cfswitch>			
			<cfset arguments.renderer.addToHTMLHeadQueue("shadowbox.cfm")>
		<!---</cfif>--->
	</cffunction>

	<cffunction name="allowLink" output="false" returntype="boolean">
		<cfargument name="restrict" type="numeric"  default=0>
		<cfargument name="restrictgroups" type="string" default="" />
		<cfargument name="loggedIn"  type="numeric" default=0 />
		<cfargument name="rspage"  type="query" />
		<cfargument name="renderer">
	
		<cfset var allowLink=true>
		<cfset var G = 0 />
		<cfset var event=arguments.renderer.getEvent()>
		<cfif  arguments.loggedIn and (arguments.restrict)>
			<cfif arguments.restrictgroups eq '' or listFind(session.mura.memberships,'S2IsPrivate;#application.settingsManager.getSite(event.getValue('siteID')).getPrivateUserPoolID()#') or listFind(session.mura.memberships,'S2')>
				<cfset allowLink=True>
			<cfelseif arguments.restrictgroups neq ''>
				<cfset allowLink=False>
				<cfloop list="#arguments.restrictgroups#" index="G">
					<cfif listFind(session.mura.memberships,'#G#;#application.settingsManager.getSite(event.getValue('siteID')).getPublicUserPoolID()#;1')>
					<cfset allowLink=true>
					</cfif>
				</cfloop>
			</cfif>
		</cfif>
			
		<cfreturn allowLink>
	</cffunction>

	<cffunction name="getTopId" output="false" returntype="string">
		<cfargument name="useNavOffset" required="true" default="false"/>
		<cfargument name="renderer">
		<cfset var id="homepage">
		<cfset var topId="">
		<cfset var offset=1>

		<cfif arguments.useNavOffset>
			<cfset offset=1+arguments.renderer.getNavOffSet()/>
		</cfif>
		
		<cfif arrayLen(arguments.renderer.crumbdata) gt offset>
			<cfset topID = replace(arguments.renderer.getCrumbVarByLevel("filename",offset),"_"," ","ALL")>
			<cfset topID = arguments.renderer.setCamelback(topID)>
			<cfset id = Left(LCase(topID), 1)>
			<cfif len(topID) gt 1>
				<cfset id=id & Right(topID, Len(topID)-1)>
			</cfif>
		</cfif>
		
		<cfif arguments.renderer.getEvent().getValue('contentBean').getIsNew() eq 1>
			<cfset id = "fourzerofour">
		</cfif>
		
		<cfreturn id>
	</cffunction>

	<cffunction name="getTopVar" output="false" returntype="string">
		<cfargument name="topVar" required="true" default="" type="String">
		<cfargument name="useNavOffset" required="true" type="boolean" default="false">
		<cfargument name="renderer">
		<cfset var theVar="">
		<cfset var offset=1>
		
		<cfif arguments.useNavOffset>
			<cfset offset=offset+arguments.renderer.getNavOffSet()/>
		</cfif>

		<cfreturn arguments.renderer.getCrumbVarByLevel(arguments.topVar,offset)>	
	</cffunction>

	<cffunction name="getCrumbVarByLevel" output="false" returntype="string">
		<cfargument name="theVar" required="true" default="" type="String">
		<cfargument name="level" required="true" type="numeric" default="1">
		<cfargument name="renderer">
		<cfset var crumbdata=arguments.renderer.getValue('crumbdata')>					
		<cfif arrayLen(crumbData) gt arguments.level>
			<cfreturn crumbData[arrayLen(crumbData)-arguments.level][arguments.theVar]>
		<cfelse>
			<cfreturn "">
		</cfif>		
	</cffunction>

	<cffunction name="dspZoomText" returntype="string" output="false">
		<cfargument name="crumbdata" required="yes" type="array">
		<cfargument name="separator" required="yes" default=">">
		<cfargument name="renderer">
		<cfset var crumbLen=arrayLen(arguments.crumbdata)>
		<cfset var I = 0 />
		<cfset var content="">
		
		<cfoutput>
		<cfloop from="#crumbLen#" to="2" index="I" step="-1">
		<cfset content=content & " #arguments.crumbdata[I].menutitle#  #arguments.separator#">
		</cfloop>
		<cfset content=content & " #arguments.crumbdata[1].menutitle#">
		</cfoutput>
		
		<cfreturn trim(content) />
	</cffunction>

	<cffunction name="dspZoom" returntype="string" output="false">
		<cfargument name="crumbdata" required="yes" type="array">
		<cfargument name="fileExt" type="string" default="" hint="deprecated, this is now in the crumbData">
		<cfargument name="ajax" type="boolean" default="false">
		<cfargument name="class" type="string" default="navZoom">
		<cfargument name="charLimit" type="numeric" default="0">
		<cfargument name="minLevels" type="numeric" default="0">
		<cfargument name="maxLevels" type="numeric" default="0">
		<cfargument name="renderer">
		<cfset var content = "">
		<cfset var locked = "">
		<cfset var lastlocked = "">
		<cfset var crumbLen=arrayLen(arguments.crumbdata)>
		<cfset var I = 0 />
		<cfset var anchorString="">
		<cfset var icon="">
		<cfset var isFileIcon=false>
		<cfset var charCount = 0>
		<cfset var limited = false>
		<cfif arguments.charLimit>
			<!--- change crumbLen --->
			<cfloop from="1" to="#arrayLen(arguments.crumbdata)#" index="i">
				<cfset charCount = charCount + len(arguments.crumbdata[i].menutitle) + 3> <!--- add 3 to offset the icon width--->
				<cfif charCount gte arguments.charLimit>
					<cfset crumbLen = i - 1>
					<cfset limited = true>
					<cfbreak>
				</cfif>
			</cfloop>
		</cfif>
		<cfif arguments.minLevels and crumbLen lt arguments.minLevels and arguments.minLevels lte arrayLen(arguments.crumbdata)>
			<cfset crumbLen = arguments.minLevels>
		</cfif>
		<cfif arguments.maxLevels and crumbLen gt arguments.maxLevels and arguments.maxLevels lte arrayLen(arguments.crumbdata)>
			<cfset crumbLen = arguments.maxLevels>
		</cfif>
		<cfsavecontent variable="content"><cfoutput><ul class="#arguments.class#">
		<cfif limited>
			<li>&raquo;</li>
		</cfif>
		<cfloop from="#crumbLen#" to="2" index="I" step="-1">
			<cfsilent>
				<cfif arguments.crumbdata[i].restricted eq 1><cfset locked="locked"></cfif>
				<cfset icon=arguments.renderer.renderIcon(arguments.crumbdata[i])>
				<cfset isFileIcon= arguments.crumbdata[i].type eq 'File' and listFirst(icon,"-") neq "icon">
			</cfsilent>
			<li class="#icon# #locked#<cfif isFileIcon> file</cfif>"<cfif isFileIcon> data-filetype="#left(icon,4)#"</cfif>>
			<a <cfif arguments.ajax> 
				href="" onclick="return siteManager.loadSiteManagerInTab(function(){siteManager.loadSiteManager('#arguments.crumbdata[I].siteid#','#arguments.crumbdata[I].contentid#','00000000000000000000000000000000000','','','#arguments.crumbdata[I].type#',1)});"
			<cfelse>
				href="#application.configBean.getContext()#/admin/?muraAction=cArch.list&siteid=#arguments.crumbdata[I].siteid#&topid=#arguments.crumbdata[I].contentid#&moduleid=00000000000000000000000000000000000&activeTab=0"
			</cfif>>#HTMLEditformat(arguments.crumbdata[I].menutitle)#</a> &raquo;</li>
		</cfloop>
		<cfsilent>
			<cfif locked eq "locked" or arguments.crumbdata[1].restricted eq 1>
				<cfset lastlocked="locked">
			</cfif>
			<cfset icon=arguments.renderer.renderIcon(arguments.crumbdata[1])>
			<cfset isFileIcon= arguments.crumbdata[1].type eq 'File' and listFirst(icon,"-") neq "icon">
		</cfsilent>
		<li class="#icon# #locked#<cfif isFileIcon> file</cfif>"<cfif isFileIcon> data-filetype="#left(icon,4)#"</cfif>><strong>
		<a <cfif arguments.ajax> 
			href="" onclick="return siteManager.loadSiteManagerInTab(function(){siteManager.loadSiteManager('#arguments.crumbdata[1].siteid#','#arguments.crumbdata[1].contentid#','00000000000000000000000000000000000','','','#arguments.crumbdata[1].type#',1)});"
		<cfelse>
			href="#application.configBean.getContext()#/admin/?muraAction=cArch.list&siteid=#arguments.crumbdata[1].siteid#&topid=#arguments.crumbdata[1].contentid#&moduleid=00000000000000000000000000000000000&activeTab=0"
		</cfif>>#HTMLEditformat(arguments.crumbdata[1].menutitle)#</a></strong></li>
		</ul></cfoutput></cfsavecontent>
		
		<cfreturn content />
	</cffunction>

	<cffunction name="setParagraphs" access="public" output="false" returntype="string">
		<cfargument name="theString" type="string">
		<cfargument name="renderer">
		<cfset var str=arguments.thestring/>
		<cfset var finder=""/>
		<cfset var item=""/>
		<cfset var start=1/>

		<cfset str = replace(str,chr(13)&chr(10),chr(10),"ALL")/>
		<!---now make Macintosh style into Unix style--->
		<cfset str = replace(str,chr(13),chr(10),"ALL")/>
		<!---now fix tabs--->
		<cfset str = replace(str,chr(9),"&nbsp;&nbsp;&nbsp;","ALL")/>
		
		<cfset finder=refindnocase('https?:\/\/\S+',str,start,"true")>
		
		<cfloop condition="#finder.len[1]#">
		<cfset item=trim(mid(str, finder.pos[1], finder.len[1])) />
		<cfset str=replace(str,mid(str, finder.pos[1], finder.len[1]),'<a href="#item#" target="_blank">#item#</a>')>
		<cfset start=finder.pos[1] + len('<a href="#item#" target="_blank">#item#</a>') >
		<cfset finder=refindnocase('https?:\/\/\S+',str,start,"true")>
		</cfloop>
		
		<cfset start=1/>
		<cfset finder=refindnocase("[\w.]+@[\w.]+\.\w+",str,start,"true")>
		
		<cfloop condition="#finder.len[1]#">
		<cfset item=trim(mid(str, finder.pos[1], finder.len[1])) />
		<cfset str=replace(str,mid(str, finder.pos[1], finder.len[1]),'<a href="mailto:#item#" target="_blank">#item#</a>')>
		<cfset start=finder.pos[1] + len('<a href="mailto:#item#" target="_blank">#item#</a>') >
		<cfset finder=refindnocase("[\w.]+@[\w.]+\.\w+",str,start,"true")>
		</cfloop>
		
		<cfset str="<p>" & str & "</p>"/>
		<cfset str = replace(str,chr(10),"</p><p>","ALL") />
		
		<!---now return the text formatted in HTML--->
		<cfreturn str />
	</cffunction>

	<cffunction name="createCSSID"  output="false" returntype="string">
		<cfargument name="title" type="string" required="true" default="">
		<cfargument name="renderer">
		<cfset var id=arguments.renderer.setProperCase(arguments.title)>
		<cfreturn "sys" & rereplace(id,"[^a-zA-Z0-9]","","ALL")>	
	</cffunction>

	<cffunction name="createCSSHook"  output="false" returntype="string">
		<cfargument name="text" type="string" required="true">
		<cfreturn application.utility.createCSSHook(arguments.text)>
	</cffunction>

	<cffunction name="getTemplate"  output="false" returntype="string">
		<cfargument name="renderer">
		<cfset var crumbdata=arguments.renderer.getValue('crumbdata')>
		<cfset var I = 0 />
		<cfset var event=arguments.renderer.getEvent()>
		<cfif event.getValue('contentBean').getIsNew() neq 1>
			<cfif len(event.getValue('contentBean').getTemplate())>
				<cfreturn event.getValue('contentBean').getTemplate() />
			<cfelseif arrayLen(crumbdata) gt 1> 
				<cfloop from="2" to="#arrayLen(crumbdata)#" index="I">
					<cfif  crumbdata[I].template neq ''>
						<cfreturn crumbdata[I].template />
					</cfif>
				</cfloop>
			</cfif>
		</cfif>
		
		<cfreturn "default.cfm" />
	</cffunction>

	<cffunction name="getMetaDesc"  output="false" returntype="string">
		<cfargument name="renderer">
		<cfset var I = 0 />
		<cfset var crumbdata=arguments.renderer.getValue('crumbdata')>
		<cfloop from="1" to="#arrayLen(crumbdata)#" index="I">
		<cfif  crumbdata[I].metaDesc neq ''>
		<cfreturn crumbdata[I].metaDesc />
		</cfif>
		</cfloop>
		<cfreturn "" />
	</cffunction>

	<cffunction name="getMetaKeyWords"  output="false" returntype="string">
		<cfargument name="renderer">
		<cfset var I = 0 />
		<cfset var crumbdata=arguments.renderer.getValue('crumbdata')>
		<cfloop from="1" to="#arrayLen(crumbdata)#" index="I">
		<cfif crumbdata[I].metaKeyWords neq ''>
		<cfreturn crumbdata[I].metaKeyWords />
		</cfif>
		</cfloop>
		<cfreturn "" />
	</cffunction>

	<cffunction name="stripHTML" returntype="string" output="false">
		<cfargument name="str" type="string">	
		<cfreturn ReReplace(arguments.str, "<[^>]*>","","all") />
	</cffunction>

	<cffunction name="addCompletePath" returntype="string" output="false">
		<cfargument name="str" type="string">
		<cfargument name="siteID" type="string">
		<cfset var returnstring=arguments.str/>
		<cfset var $=arguments.renderer.getMuraScope()>
		<cfset returnstring=replaceNoCase(returnstring,'src="/','src="#$.siteConfig('scheme')#://#application.settingsManager.getSite(arguments.siteID).getDomain()##application.configBean.getServerPort()#/','ALL')>
		<cfset returnstring=replaceNoCase(returnstring,"src='/",'src="#$.siteConfig('scheme')#://#application.settingsManager.getSite(arguments.siteID).getDomain()##application.configBean.getServerPort()#/','ALL')>
		<cfset returnstring=replaceNoCase(returnstring,'href="/','href="#$.siteConfig('scheme')#://#application.settingsManager.getSite(arguments.siteID).getDomain()##application.configBean.getServerPort()#/','ALL')>
		<cfset returnstring=replaceNoCase(returnstring,"href='/",'href="#$.siteConfig('scheme')#://#application.settingsManager.getSite(arguments.siteID).getDomain()##application.configBean.getServerPort()#/','ALL')>
		<cfreturn returnstring />
	</cffunction>

	<cffunction name="dspSection" access="public" output="false" returntype="string">
		<cfargument name="level" default="1" required="true">		
		<cfargument name="renderer">
		<cfset var crumbdata=arguments.renderer.getValue('crumbdata')>
		<cftry>
			<cfreturn crumbdata[arrayLen(crumbdata)-arguments.level].menutitle >
			<cfcatch>
				<cfreturn "">
			</cfcatch>
		</cftry>
	</cffunction>

	<cffunction name="renderObjectInManager" output="false">
		<cfargument name="object">
		<cfargument name="objectid">
		<cfargument name="content">
		<cfargument name="objectParams" default="#structNew()#">
		<cfargument name="showEditable">
		<cfargument name="isConfigurator">
		<cfargument name="objectname">

		<cfset var openingDiv='<div class="mura-object'> 
		
		<cfparam name="arguments.objectParams.async" default="false">

		<cfif arguments.objectParams.async>
			<cfset openingDiv=openingDiv & " mura-async-object">
		</cfif>

		<cfset openingDiv=openingDiv & '" data-object="#esapiEncode('html_attr',arguments.object)#" data-objectid="#esapiEncode('html_attr',arguments.objectid)#" data-instanceid="#createUUID()#"'>
		
		<cfloop collection="# arguments.objectparams#" item="local.i">
			<cfset openingDiv=openingDiv & ' data-#esapiEncode('html_attr',lcase(local.i))#="#esapiEncode('html_attr', serializeObjectParam(arguments.objectparams[local.i]))#"'>
		</cfloop>

		<cfif arguments.showEditable>
			<cfset openingDiv=openingDiv & 'data-objectname="#esapiEncode('html_attr',arguments.objectname)#" data-perm="author" data-isconfigurator="#esapiEncode('html_attr',arguments.isConfigurator)#">'>
		<cfelse>
			<cfset openingDiv=openingDiv & ">">
		</cfif>

		<cfreturn "#openingDiv##trim(arguments.content)#</div>">
	</cffunction>

	<cffunction name="serializeObjectParam" output="false">
		<cfargument name="paramValue">

		<cfif isSimpleValue(arguments.paramValue)>
			<cfreturn arguments.paramValue>
		<cfelse>
			<cfreturn serializeJSON(arguments.paramValue)>
		</cfif>
	</cffunction>

	<cffunction name="dspObject" access="public" output="false">
		<cfargument name="object" type="string">
		<cfargument name="objectid" type="string" required="true" default="">
		<cfargument name="siteid" type="string" required="true" default="">
		<cfargument name="params" required="true" default="">
		<cfargument name="assignmentID" type="string" required="true" default="">
		<cfargument name="regionID" required="true" default="0">
		<cfargument name="orderno" required="true" default="0">
		<cfargument name="hasConfigurator" required="true" default="false">
		<cfargument name="assignmentPerm" required="true" default="none">
		<cfargument name="allowEditable" type="boolean" default="false">
		<cfargument name="cacheKey" type="string" required="false" default="">
		<cfargument name="renderer">
		<cfargument name="showEditableObjects">
		<cfargument name="layoutmanager">
		<cfargument name="objectname">

		<cfset var event=arguments.renderer.getEvent()>
		<cfset var $=arguments.renderer.getMuraScope()>
		<cfset var theObject = "" />
		<cfset var cacheKeyContentId = arguments.object & event.getValue('contentBean').getcontentID() & cacheKey />
		<cfset var cacheKeyObjectId = arguments.object & arguments.objectid & cacheKey/>
		<cfset var showEditable=false/>
		<cfset var editableControl={editLink='',isConfigurator=false}>
		<cfset var historyID="">
		<cfset var tempObject="">
		<cfset var args={}>

		<cfif isJSON(arguments.params)>
			<cfset arguments.params=deserializeJSON(arguments.params)>
		<cfelseif not isStruct(arguments.params)>
			<cfset arguments.params={}>
		</cfif>

		<cfset request.muraValidObject=true>
		<cfset request.muraAsyncEditableObject=false>

		<cfif session.mura.isLoggedIn and arguments.showEditableObjects and arguments.allowEditable>

			<cfif $.siteConfig('hasLockableNodes')>
				<cfset var configuratorAction="carch.lockcheck&destAction=">
			<cfelse>
				<cfset var configuratorAction="">
			</cfif>

			<cfif $.siteConfig().hasDisplayObject(arguments.object)>
				<cfset showEditable=(arguments.renderer.useLayoutManager() or len($.siteConfig().getDisplayObject(arguments.object).configuratorInit)) and listFindNoCase("editor,author",arguments.assignmentPerm)>		
				<cfif showEditable>
					<cfset editableControl.class="editablePlugin">
					<cfset editableControl.editLink = "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
					<cfset editableControl.isConfigurator=true>
				</cfif>
			<cfelse>
				<cfswitch expression="#arguments.object#">
					<cfcase value="plugin">
						<cfset showEditable=arguments.showEditableObjects and  (arguments.renderer.useLayoutManager() or arguments.hasConfigurator) and listFindNoCase("editor,author",arguments.assignmentPerm)>
						<cfset editableControl.class="editablePlugin">
						<cfset editableControl.editLink = "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
						<cfset editableControl.isConfigurator=true>
					</cfcase>
					<cfcase value="feed,feed_slideshow,feed_no_summary,feed_slideshow_no_summary">
						<cfset showEditable=arguments.showEditableObjects and listFindNoCase("editor,author",arguments.assignmentPerm)>
						<cfset editableControl.class="editableFeed">
						<cfset editableControl.editLink =  "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
					</cfcase>
					<cfcase value="category_summary,category_summary_rss"><cfset showEditable=arguments.showEditableObjects and listFindNoCase("editor,author",arguments.assignmentPerm)>		
						<cfset showEditable=arguments.showEditableObjects and listFindNoCase("editor,author",arguments.assignmentPerm)>
						<cfset editableControl.class="editableCategorySummary">
						<cfset editableControl.editLink =  "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
						<cfset editableControl.isConfigurator=true>
					</cfcase>

					<!--- BEGIN: New Layout Manager Objects --->
					<cfcase value="collection">
						<cfset showEditable=arguments.showEditableObjects and  (arguments.renderer.useLayoutManager() or arguments.hasConfigurator) and listFindNoCase("editor,author",arguments.assignmentPerm)>
						<cfset editableControl.class="editableCollection">
						<cfset editableControl.editLink = "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
						<cfset editableControl.isConfigurator=true>
					</cfcase>
					<cfcase value="text">
						<cfset showEditable=arguments.showEditableObjects and  (arguments.renderer.useLayoutManager() or arguments.hasConfigurator) and listFindNoCase("editor,author",arguments.assignmentPerm)>
						<cfset editableControl.class="editableText">
						<cfset editableControl.editLink = "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
						<cfset editableControl.isConfigurator=true>
					</cfcase>
					<cfcase value="container">
						<cfset showEditable=arguments.showEditableObjects and  (arguments.renderer.useLayoutManager() or arguments.hasConfigurator) and listFindNoCase("editor,author",arguments.assignmentPerm)>
						<cfset editableControl.class="editableContainer">
						<cfset editableControl.editLink = "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
						<cfset editableControl.isConfigurator=true>
					</cfcase>
					<!--- END: New Layout Manager Objects --->

					<cfcase value="tag_cloud">
						<cfif Len($.siteConfig('customTagGroups'))>	
							<cfset showEditable=arguments.showEditableObjects and listFindNoCase("editor,author",arguments.assignmentPerm)>	
							<cfset editableControl.class="editableTagCloud">
							<cfset editableControl.editLink =  "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
							<cfset editableControl.isConfigurator=true>
						</cfif>

						<cfif isJSON(arguments.params)>
							<cfset args=deserializeJSON(arguments.params)>
						</cfif>
					</cfcase>
					<cfcase value="site_map">
						<cfset showEditable=arguments.showEditableObjects and listFindNoCase("editor,author",arguments.assignmentPerm)>	
						<cfset editableControl.class="editableSiteMap">
						<cfset editableControl.editLink =  "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
						<cfset editableControl.isConfigurator=true>

						<cfif isJSON(arguments.params)>
							<cfset args=deserializeJSON(arguments.params)>
						</cfif>
					</cfcase>
					<cfcase value="related_content,related_section_content">
						<cfset showEditable=arguments.showEditableObjects and listFindNoCase("editor,author",arguments.assignmentPerm)>
						<cfset editableControl.class="editableRelatedContent">
						<cfset editableControl.editLink =  "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.frontEndConfigurator">
						<cfset editableControl.isConfigurator=true>
					</cfcase>
					<cfcase value="component,form">
						<cfset showEditable=listFindNoCase("editor,author",application.permUtility.getDisplayObjectPerm(arguments.siteID,arguments.object,arguments.objectID))>			
						<cfif showEditable>
							<cfset historyID = $.getBean("contentGateway").getContentHistIDFromContentID(contentID=arguments.objectID,siteID=arguments.siteID)>
							<cfif arguments.object eq "component">
								<cfset editableControl.class="editableComponent">
							<cfelse>
								<cfset editableControl.class="editableForm">
							</cfif>

							<cfset editableControl.editLink = "#$.globalConfig('context')#/admin/?muraAction=#configuratorAction#cArch.edit">
							
							<cfif len($.event('previewID'))>
								<cfset editableControl.editLink = editableControl.editLink & "&amp;contenthistid=" & $.event('previewID')>
							<cfelse>
								<cfset editableControl.editLink = editableControl.editLink & "&amp;contenthistid=" & historyID>
							</cfif>	
							<cfset editableControl.editLink = editableControl.editLink & "&amp;siteid=" & arguments.siteID>
							<cfset editableControl.editLink = editableControl.editLink & "&amp;contentid=" & arguments.objectID>
							<cfset editableControl.editLink = editableControl.editLink & "&amp;topid=00000000000000000000000000000000001">
							<cfif arguments.object eq "component">
								<cfset editableControl.editLink = editableControl.editLink & "&amp;type=Component">
								<cfset editableControl.editLink = editableControl.editLink & "&amp;moduleid=00000000000000000000000000000000003">
								<cfset editableControl.editLink = editableControl.editLink & "&amp;parentid=00000000000000000000000000000000003">
							<cfelse>
								<cfset editableControl.editLink = editableControl.editLink & "&amp;type=Form">
								<cfset editableControl.editLink = editableControl.editLink & "&amp;moduleid=00000000000000000000000000000000004">
								<cfset editableControl.editLink = editableControl.editLink & "&amp;parentid=00000000000000000000000000000000004">
							</cfif>		
							<cfset editableControl.isConfigurator=false>
						</cfif>
					</cfcase>
				</cfswitch>	
			</cfif>
		</cfif>

		<cfif arguments.renderer.useLayoutManager() and listFindNoCase("editor,author",arguments.assignmentPerm)>
			<cfset showEditable=true>
		</cfif>
					
		<cfif showEditable>
			<cfif len(application.configBean.getAdminDomain())>
				<cfif application.configBean.getAdminSSL()>
					<cfset editableControl.editLink="https://#application.configBean.getAdminDomain()#" & editableControl.editLink/>
				<cfelse>
					<cfset editableControl.editLink="#application.settingsManager.getSite(arguments.siteID).getScheme()#://#application.configBean.getAdminDomain()#" & editableControl.editLink/>
				</cfif>
			</cfif>
				
			<cfset editableControl.editLink = editableControl.editLink & "&amp;compactDisplay=true">

			<cfif not arguments.layoutmanager>						
				<cfset editableControl.editLink = editableControl.editLink & "&amp;homeID=" & $.content("contentID")>

				<cfif not listFindNoCase("Form,Component",arguments.object)>
					<cfset editableControl.editLink = editableControl.editLink & "&amp;contenthistID=" & arguments.assignmentID>
					<cfset editableControl.editLink = editableControl.editLink & "&amp;regionID=" & arguments.regionID>
					<cfset editableControl.editLink = editableControl.editLink & "&amp;orderno=" & arguments.orderno>
					<cfset editableControl.editLink = editableControl.editLink & "&amp;siteID=" & arguments.siteID>
					<cfset editableControl.editLink = editableControl.editLink & "&amp;contenttype=" & esapiEncode('url',$.content('type'))>
					<cfset editableControl.editLink = editableControl.editLink & "&amp;contentsubtype=" & esapiEncode('url',$.content('subtype'))>
				</cfif>
			<cfelse>
				<cfset editableControl.editLink = editableControl.editLink & "&amp;siteID=" & arguments.siteID>
			</cfif>

			<cfset arguments.renderer.setHasEditableObjects(true)>
		</cfif>

		<cfif $.siteConfig().hasDisplayObject(arguments.object)>
			<cfset var displayobject=$.siteConfig().getDisplayObject(arguments.object)>

			<!--- may push for standardization of display object rendering via .cfm files--->
			<cfif listLast(displayobject.displayobjectfile,".") neq "cfm">
				<cfset var theDisplay1=''>
				<cfset var theDisplay2=''>
				<cfset var componentPath="#displayobject.displayobjectfile#">
				<cfset var eventHandler=createObject(componentPath).init()>
				<cfset var tracePoint=initTracePoint("#getMetaData(eventHandler).name#.#displayobject.displaymethod#")>
				<cfsavecontent variable="theDisplay1">
				<cfinvoke component="#eventHandler#" method="#displayobject.displaymethod#" returnvariable="theDisplay2">
					<cfinvokeargument name="event" value="#event#">
					<cfinvokeargument name="$" value="#$#">
					<cfinvokeargument name="mura" value="#$#">
				</cfinvoke>
				</cfsavecontent>
				<cfset commitTracePoint(tracePoint)>
				<cfif isdefined("theDisplay2")>
					<cfreturn trim(theDisplay2)>
				<cfelse>
					<cfreturn trim(theDisplay1)>
				</cfif>			
			<cfelse>
				<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename=displayobject.displayobjectfile,cacheKey=cacheKeyObjectId,params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator)>
			</cfif>
		<cfelse>
			<cfswitch expression="#arguments.object#">
				<cfcase value="sub_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_sub.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="peer_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_peer.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="standard_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_standard.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="portal_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_portal.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="folder_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_folder.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="multilevel_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_multilevel.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="seq_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_sequential.cfm",cachekey=cacheKeyContentId & event.getValue('startRow'),showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="top_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_top.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="contact"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_contact.cfm")></cfcase>
				<cfcase value="calendar_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/calendarNav/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="plugin"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,params=arguments.params,objectid=arguments.objectid,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<!--- BEGIN: New Layout Manager Objects --->
				<cfcase value="collection">
					<cfparam name="arguments.params.sourceid" default="#createUUID()#">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="collection/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname,params=arguments.params)></cfcase>
				<cfcase value="text">
					<cfparam name="arguments.params.sourceid" default="#createUUID()#">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="text/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname,params=arguments.params)></cfcase>
				<cfcase value="container">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="container/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname,params=arguments.params)></cfcase>
				<cfcase value="meta">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="meta/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname,params=arguments.params)></cfcase>
				<!--- END: New Layout Manager Objects--->
				<cfcase value="mailing_list"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_mailing_list.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="mailing_list_master"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_mailing_list_master.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="site_map"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_site_map.cfm",cacheKey=cacheKeyObjectId,params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>							
				<cfcase value="category_summary"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectID=arguments.objectid,filename="dsp_category_summary.cfm",cacheKey=cacheKeyObjectId & event.getValue('categoryID'),params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="archive_nav"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="nav/dsp_archive.cfm",cachekey=cacheKeyObjectId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="form"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="datacollection/index.cfm",cachekey=cacheKeyObjectId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="form_responses"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dataresponses/index.cfm",cachekey=cacheKeyObjectId & event.getValue("responseID") & event.getValue("startrow"),showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="component"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectID=arguments.objectid,filename="dsp_template.cfm",cacheKey=cacheKeyObjectId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="ad"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_ad.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator)></cfcase>
				<cfcase value="comments"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_comments.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator)></cfcase>
				<cfcase value="event_reminder_form"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_event_reminder_form.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="forward_email"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_forward_email.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="adzone"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_adZone.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="feed">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_feed.cfm",cacheKey=cacheKeyObjectId  & arguments.renderer.getListFormat() & "startrow#request.startrow#",params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
				</cfcase>	
				<cfcase value="feed_slideshow">
					<cfif not request.muraMobileTemplate>	
						<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectID=arguments.objectid,filename="feedslideshow/index.cfm",params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
					<cfelse>
						<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectID=arguments.objectid,filename="dsp_feed.cfm",params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
					</cfif>
				</cfcase>
				<cfcase value="feed_table"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="feedtable/index.cfm",cachekey=arguments.object,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="payPalCart"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="paypalcart/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="rater"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="rater/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="favorites"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="favorites/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="dragable_feeds"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dragablefeeds/index.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="related_content">
					<cfparam name="arguments.params.relatedContentSetName" default="default">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectID=arguments.objectid,filename="dsp_related_content.cfm",cacheKey=cacheKeyContentId & arguments.renderer.getListFormat() & arguments.params.relatedContentSetName,params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
				</cfcase>
				<cfcase value="related_section_content">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectID=arguments.objectid,filename="dsp_related_section_content.cfm",cachekey=cacheKeyContentId & arguments.renderer.getListFormat(),params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
				</cfcase>
				<cfcase value="user_tools"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_user_tools.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="tag_cloud">
					<cfsavecontent variable="tempObject"><cf_CacheOMatic key="#cacheKeyObjectId#" nocache="#event.getValue('nocache')#"><cfoutput>#arguments.renderer.dspTagCloud(argumentCollection=arguments)#</cfoutput></cf_CacheOMatic></cfsavecontent>
					<cfset theObject=tempObject>
					<cfif arguments.renderer.useLayoutmanager()>
						<cfif request.muraFrontEndRequest>
								<cfset theObject=renderObjectInManager(object=arguments.object,
									objectid=arguments.objectid,
									content=theObject,
									objectParams=arguments.params,
									showEditable=showEditable,
									isConfigurator=editableControl.isConfigurator,
									objectname=arguments.objectname)>
						</cfif>
					</cfif>
				</cfcase>
				<cfcase value="goToFirstChild"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="act_goToFirstChild.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<!--- BEGIN DEPRICATED --->
				<cfcase value="submit_event"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_submit_event.cfm",cachekey=cacheKeyContentId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="promo"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_promo.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="public_content_form"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_public_content_form.cfm",showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="category_summary_rss"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,fileName="dsp_category_summary.cfm",showEditable=showEditable,cacheKey=cacheKeyObjectId & event.getValue('categoryID'),useRss=true,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="feed_no_summary">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectID=arguments.objectid,fileName="dsp_feed.cfm",cacheKey=cacheKeyObjectId & "startrow#request.startrow#",hasSummary=false,params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
				</cfcase>
				<cfcase value="feed_slideshow_no_summary">
					<cfif not request.muraMobileTemplate>
						<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,fileName="feedslideshow/index.cfm",hasSummary=false,params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
					<cfelse>
						<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteID=arguments.siteid,object=arguments.object,objectID=arguments.objectid,fileName="dsp_feed.cfm",cacheKey=cacheKeyObjectId & "startrow#request.startrow#",hasSummary=false,params=arguments.params,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
					</cfif>
				</cfcase>
				<cfcase value="related_section_content_no_summary">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_related_section_content.cfm",cachekey=cacheKeyContentId,hasSummary=false,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
				</cfcase>	
				<cfcase value="features">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_features.cfm",cachekey=cacheKeyObjectId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
				</cfcase>
				<cfcase value="features_no_summary">
					<cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_features.cfm",cachekey=cacheKeyObjectId,hasSummary=false,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)>
				</cfcase>		
				<cfcase value="category_features"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_category_features.cfm",cachekey=cacheKeyObjectId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="category_features_no_summary"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_category_features.cfm",cachekey=cacheKeyObjectId,hasSummary=false,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="category_Folder_features"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_category_Folder_features.cfm",cachekey=cacheKeyObjectId,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<cfcase value="category_Folder_features_no_summary"><cfset theObject=arguments.renderer.dspObject_Render(regionid=arguments.regionid,siteid=arguments.siteid,object=arguments.object,objectid=arguments.objectid,filename="dsp_category_Folder_features.cfm",cachekey=cacheKeyObjectId,hasSummary=false,showEditable=showEditable,isConfigurator=editableControl.isConfigurator,objectname=arguments.objectname)></cfcase>
				<!--- END DEPRICATED --->
			</cfswitch>
		</cfif>

		<cfif not arguments.layoutmanager and request.muraValidObject and showEditable and ((request.muraFrontEndRequest and not request.muraAsyncEditableObject) or (not request.muraFrontEndRequest and request.muraAsyncEditableObject))>
			<cfif isSimpleValue(theObject)>
				<cfset theObject=$.renderEditableObjectHeader(editableControl.class) & theObject & $.renderEditableObjectFooter($.generateEditableObjectControl(editableControl.editLink,editableControl.isConfigurator))>
			<cfelseif isStruct(theObject)>
				<cfset theObject.header=$.renderEditableObjectHeader(editableControl.class)>
				<cfset theObject.footer=$.renderEditableObjectFooter($.generateEditableObjectControl(editableControl.editLink,editableControl.isConfigurator))>
			</cfif>	
		<cfelseif not request.muraValidObject>
			<cfset theObject="<!-- Invalid Display Object (Type: #arguments.object#, ID: #arguments.objectid#) -->">
			<cfset request.muraValidObject=true>
		</cfif>

		<cfif isSimpleValue(theObject)>
			<cfreturn trim(theObject) />
		<cfelse>
			<cfreturn theObject />
		</cfif>
	</cffunction>

	<cffunction name="dspObjects" output="false">
		<cfargument name="columnID" required="yes" type="numeric" default="1">
		<cfargument name="ContentHistID" required="yes" type="string" default="#event.getValue('contentBean').getcontenthistid()#">
		<cfargument name="returnFormat" default="string">
		<cfargument name="renderer">
		<cfargument name="layoutmanager">

		<cfset var event=arguments.renderer.getEvent()>
		<cfset var $=arguments.renderer.getMuraScope()>
		<cfset var rsObjects="">	
		<cfset var theRegion={header='',footer='',inherited={header='',footer='',items=[]},local={header='',footer='',items=[]}}/>
		<cfset var theObject="">
		<cfset var perm=(listFindNoCase('author,editor',$.event('r').perm))?true:false>
		<cfset var i=''>
		<cfset var html=''>

		<cfif arguments.renderer.uselayoutmanager()>
			<cfset var inheritedObjectsPerm='none'>
		<cfelse>
			<cfset var inheritedObjectsPerm=event.getValue("inheritedObjectsPerm")>
		</cfif>

		<cfset request.muraRegionID=arguments.columnID>
		
		<cfif perm>
			<cfif listLen($.siteConfig('columnnames'),'^') gte arguments.columnid>
				<cfset theRegion.header='<div class="mura-region mura-editable inactive"><label class="mura-editable-label">DISPLAY REGION : #UCASE(listGetAt($.siteConfig('columnnames'),arguments.columnid,'^'))#</label>'>
			<cfelse>
				<cfset theRegion.header='<div class="mura-region mura-editable inactive"><label class="mura-editable-label">DISPLAY REGION: #arguments.columnid#</label>'>
			</cfif>
			<cfset theRegion.local.header='<div class="mura-region-local inactive mura-editable-attribute" data-loose="false" data-regionid="#arguments.columnid#" data-inited="false" data-perm="#perm#">'>
		<cfelse>
			<cfset theRegion.header='<div class="mura-region">'>
			<cfset theRegion.local.header='<div class="mura-region-local">'>
		</cfif>

		<cfset theRegion.inherited.header='<div class="mura-region-inherited">'>
		<cfset theRegion.inherited.footer='</div>'>
		<cfset theRegion.local.footer='</div>'>
		<cfset theRegion.footer='</div>'>

		<cfif (event.getValue('isOnDisplay') 
				and ((not event.getValue('r').restrict) 
					or (event.getValue('r').restrict and event.getValue('r').allow))) 
						and not (event.getValue('display') neq '' and arguments.renderer.getSite().getPrimaryColumn() eq arguments.columnid)>

			<cfif event.getValue('contentBean').getinheritObjects() eq 'inherit' 
				and event.getValue('inheritedObjects') neq ''
				and event.getValue('contentBean').getcontenthistid() eq arguments.contentHistID>
					<cfset rsObjects=getBean('contentGateway').getObjectInheritance(arguments.columnID,event.getValue('inheritedObjects'),event.getValue('siteID'))>	
					<cfloop query="rsObjects">
						<cfset theObject=arguments.renderer.dspObject(object=rsObjects.object,objectid=rsObjects.objectid,siteid=event.getValue('siteID'), params=rsObjects.params, assignmentid=event.getValue('inheritedObjects'), regionid=arguments.columnID, orderno=rsObjects.orderno, hasConfigurator=len(rsObjects.configuratorInit),assignmentPerm=inheritedObjectsPerm,objectname=rsObjects.name)>
						<cfif isSimpleValue(theObject)>
							<cfset theObject={html=theObject}>
						</cfif>
						<cfset arrayAppend(theRegion.inherited.items,theObject) />
						<cfset request.muraRegionID=arguments.columnID>
					</cfloop>	
			</cfif>

			<cfset rsObjects=getBean('contentGateway').getObjects(arguments.columnID,arguments.contentHistID,event.getValue('siteID'))>	
			<cfloop query="rsObjects">
				<cfset theObject=arguments.renderer.dspObject(object=rsObjects.object,objectid=rsObjects.objectid,siteid=event.getValue('siteID'), params=rsObjects.params, assignmentid=arguments.contentHistID, regionid=arguments.columnID, orderno=rsObjects.orderno, hasConfigurator=len(rsObjects.configuratorInit),assignmentPerm=$.event('r').perm,objectname=rsObjects.name)>
				<cfif isSimpleValue(theObject)>
					<cfset theObject={html=theObject}>
				</cfif>
				<cfset arrayAppend(theRegion.local.items,theObject) />
				<cfset request.muraRegionID=arguments.columnID>
			</cfloop>
		</cfif>
		<cfset request.muraRegionID=0>

		<cfif arguments.returnFormat eq 'array'>
			<cfreturn theRegion >
		<cfelse>
			<cfif arguments.layoutmanager>
				<cfset html=html & theRegion.header>
			</cfif>
			
			<cfif arrayLen(theRegion.inherited.items)>
				<cfif arguments.layoutmanager>
					<cfset html=html & theRegion.inherited.header>
				</cfif>

				<cfloop array="#theRegion.inherited.items#" index="i"> 
					<cfif isDefined('i.html')>
						<cfset html=html & i.html>
					</cfif>
				</cfloop>

				<cfif arguments.layoutmanager>
					<cfset html=html & theRegion.inherited.footer>
				</cfif>
			</cfif>

			<cfif arguments.layoutmanager>
				<cfset html=html & theRegion.local.header>
			</cfif>

			<cfloop array="#theRegion.local.items#" index="i"> 
				<cfif isDefined('i.html')>
					<cfset html=html & i.html>
				</cfif>
			</cfloop>

			<cfif arguments.layoutmanager>
				<cfset html=html & theRegion.local.footer>
				<cfset html=html & theRegion.footer>
			</cfif>

			<cfreturn html>
		</cfif>

	</cffunction>

	<cffunction name="createHREF" returntype="string" output="false" access="public">
		<cfargument name="type" required="true" default="Page">
		<cfargument name="filename" required="true">
		<cfargument name="siteid" required="true" default="">
		<cfargument name="contentid" required="true" default="">
		<cfargument name="target" required="true" default="">
		<cfargument name="targetParams" required="true" default="" hint="deprecated, does not do anything.  May come be re-introduced for modal params">
		<cfargument name="querystring" required="true" default="">
		<cfargument name="context" type="string" required="true" default="#application.configBean.getContext()#" hint="deprecated">
		<cfargument name="stub" type="string" required="true" default="#application.configBean.getStub()#" hint="deprecated">
		<cfargument name="indexFile" type="string" required="true" default="" hint="deprecated">
		<cfargument name="complete" type="boolean" required="true" default="false">
		<cfargument name="showMeta" type="string" required="true" default="0">
		<cfargument name="bean" hint="The contentBean that link is being generated for">
		<cfargument name="secure" default="false">
		<cfargument name="renderer">
		<cfargument name="hashURLS">
		
		<cfset var href=""/>
		<cfset var tp=""/>
		<cfset var q=''>
		<cfset var qsa="">
		<cfset var qq="">

		<cfif arguments.renderer.hasMuraScope() and len(arguments.renderer.getMuraScope().event('siteID')) and arguments.renderer.getMuraScope().event('siteID') neq arguments.siteID>
			<cfif not len(arguments.siteid)>
				<cfset arguments.siteid=arguments.renderer.getMuraScope().event('siteID')>
			</cfif>
			<cfif arguments.siteid neq arguments.renderer.getMuraScope().event('siteID')>
				<cfreturn getBean('settingsManager').getSite(arguments.siteid).getContentRenderer().createHREF(argumentCollection=arguments)>
			</cfif>
		</cfif>

		<cfset var site=getBean('settingsManager').getSite(arguments.siteid)>

		<cfif arguments.complete or arguments.secure>
			<cfif arguments.secure>
				<cfset var begin='https://#site.getDomain()##site.getServerPort()##site.getContext()#'>
			<cfelse>
				<cfset var begin='#site.getScheme()#://#site.getDomain()##site.getServerPort()##site.getContext()#'>
			</cfif>
		<cfelse>
			<cfset var begin=site.getContext()>
		</cfif>

		<cfif len(arguments.querystring)>
			<cfif not arguments.hashURLS and not left(arguments.querystring,1) eq "?">
				<cfset arguments.querystring="?" & arguments.querystring>
			<cfelseif arguments.hashURLS>
				<cfset qsa="_">
				<cfset arguments.queryString=listFirst(arguments.querystring,"?")>
				<cfloop list="#arguments.queryString#" index="q" delimiters="&">
					<cfset qq=listToArray(q,"=")>
					<cfif arrayLen(qq) eq 2>
						<cfset qsa=qsa & "/#urlEncodedFormat(qq[1])#/#qq[2]#">
					<cfelse>
						<cfset qsa=qsa & "/#urlEncodedFormat(qq[1])#/true">
					</cfif>
				</cfloop>
				<cfset arguments.queryString=qsa>
			</cfif>
		</cfif>
		
		<cfif not isDefined('arguments.bean') 
			and (
					(
						not len(arguments.filename) 
						and len(arguments.contentID) 
						and arguments.contentid neq '00000000000000000000000000000000001'
					)
				or 
					request.muraExportHTML and listFindNoCase("Link,File",arguments.type)
				)
			>
			<cfset arguments.bean=getBean("content").loadBy(contentID=arguments.contentID,siteID=arguments.siteID)>
			<cfset argument.filename=arguments.bean.getFilename()>
		</cfif>
		
		<cfif application.configBean.getValue(property='AllowUnicodeInFilenames',defaultValue=false)>
			<cfset arguments.filename=urlEncodedFormat(arguments.filename)>
			<cfset arguments.filename=replace(arguments.filename,'%2F',"/")>
		</cfif>
		
		<cfif arguments.hashURLS and len(arguments.queryString) and right(arguments.filename,1) neq "/">
			<cfset arguments.queryString="/" & arguments.queryString>
		</cfif>

		<cfswitch expression="#arguments.type#">
			<cfcase value="Link,File">
				<cfif not request.muraExportHTML>
					<cfif arguments.hashURLS>
						<cfset href=HTMLEditFormat("#begin##arguments.renderer.getURLStem(arguments.siteid,'#arguments.filename##arguments.querystring#')#") />
					<cfelse>
						<cfset href=HTMLEditFormat("#begin##arguments.renderer.getURLStem(arguments.siteid,'#arguments.filename#')##arguments.querystring#") />
					</cfif>	
					<cfset href=HTMLEditFormat("#begin##arguments.renderer.getURLStem(arguments.siteid,'#arguments.filename#')##arguments.querystring#") />	
				<cfelseif arguments.type eq "Link">
					<cfset href=arguments.bean.getBody()>
				<cfelse>
					<cfset href="#getBean('configBean').getContext()#/#arguments.siteID#/cache/file/#arguments.bean.getFileID()#/#arguments.bean.getBody()#">
				</cfif>
			</cfcase>
			<cfdefaultcase>
				<cfif arguments.hashURLS>
					<cfset href=HTMLEditFormat("#begin##arguments.renderer.getURLStem(arguments.siteid,'#arguments.filename##arguments.querystring#')#") />
				<cfelse>
					<cfset href=HTMLEditFormat("#begin##arguments.renderer.getURLStem(arguments.siteid,'#arguments.filename#')##arguments.querystring#") />
				</cfif>	
			</cfdefaultcase>
		</cfswitch>

		<cfreturn href />
	</cffunction>

	<cffunction name="createHREFforRSS" returntype="string" output="false" access="public">
		<cfargument name="type" required="true" default="Page">
		<cfargument name="filename" required="true">
		<cfargument name="siteid" required="true">
		<cfargument name="contentid" required="true" default="">
		<cfargument name="target" required="true" default="">
		<cfargument name="targetParams" required="true" default="" hint="deprecated">
		<cfargument name="context" type="string" default="#application.configBean.getContext()#" hint="deprecated">
		<cfargument name="stub" type="string" default="#application.configBean.getStub()#" hint="deprecated">
		<cfargument name="indexFile" type="string" default="">
		<cfargument name="showMeta" type="string" default="0">
		<cfargument name="fileExt" type="string" default="" required="true">
		<cfargument name="secure" default="false">
		<cfargument name="renderer">

		<cfset var href=""/>
		<cfset var tp=""/>

		<cfset var site=getBean('settingsManager').getSite(arguments.siteid)>

		<cfif arguments.renderer.hasMuraScope() and len(arguments.renderer.getMuraScope().event('siteID')) and arguments.renderer.getMuraScope().event('siteID') neq arguments.siteID>
			<cfreturn site.getContentRenderer().createHREFforRSS(argumentCollection=arguments)>
		</cfif>

		<cfswitch expression="#arguments.type#">
				<cfcase value="Link">
					<cfset arguments.queryString="showMeta=#arguments.showMeta#">
				</cfcase>
				<cfcase value="File">
					<cfset arguments.queryString="showMeta=#arguments.showMeta#&fileExt=.#arguments.fileExt#">
				</cfcase>
				<cfdefaultcase>
					<cfset arguments.queryString="">
				</cfdefaultcase>
		</cfswitch>
			
		<cfreturn arguments.renderer.createHREF(argumentCollection=arguments) />
	</cffunction>

	<cffunction name="createHREFForImage" output="false" returntype="any">
		<cfargument name="siteID">
		<cfargument name="fileID">
		<cfargument name="fileExt">
		<cfargument name="size" required="true" default="undefined">
		<cfargument name="direct" required="true" default="#this.directImages#">
		<cfargument name="complete" type="boolean" required="true" default="false">
		<cfargument name="height" default=""/>
		<cfargument name="width" default=""/>
		<cfargument name="secure" default="false">
		<cfreturn getBean("fileManager").createHREFForImage(argumentCollection=arguments)>
	</cffunction>

	<cffunction name="addlink" output="false" returntype="string">
		<cfargument name="type" required="true">
		<cfargument name="filename" required="true">
		<cfargument name="title" required="true">
		<cfargument name="target" type="string"  default="">
		<cfargument name="targetParams" type="string"  default="">
		<cfargument name="contentid" required="true">
		<cfargument name="siteid" required="true">
		<cfargument name="querystring" type="string" required="true" default="">
		<cfargument name="context" type="string" required="true" default="#application.configBean.getContext()#">
		<cfargument name="stub" type="string" required="true" default="#application.configBean.getStub()#">
		<cfargument name="indexFile" type="string" required="true" default="">
		<cfargument name="showMeta" type="string" required="true" default="0">
		<cfargument name="showCurrent" type="string" required="true" default="1">
		<cfargument name="class" type="string" required="true" default="">
		<cfargument name="complete" type="boolean" required="true" default="false">
		<cfargument name="id" type="string" required="true" default="">
		<cfargument name="aHasKidsClass" required="true" default="#this.aHasKidsClass#">
		<cfargument name="aHasKidsAttributes" required="true" default="#this.aHasKidsAttributes#">
		<cfargument name="aCurrentClass" required="true" default="#this.aCurrentClass#">
		<cfargument name="aCurrentAttributes" required="true" default="#this.aCurrentAttributes#">
		<cfargument name="isParent" required="true" default="false">
		<cfargument name="aNotCurrentClass" required="true" default="#this.aNotCurrentClass#">
		<cfargument name="secure" default="false">
		<cfargument name="isBreadCrumb" default="false">
		<cfargument name="renderer">

		<cfset var link ="">
		<cfset var href ="">
		<cfset var theClass =arguments.class>
		<cfset var event=arguments.renderer.getEvent()>
		<!--- Supporting Old Arguments--->
		<cfif structKeyExists(arguments,'aHasKidsCustomString')>
			<cfset arguments.aHasKidsAttributes=arguments.aHasKidsCustomString>
		</cfif>
		<cfif structKeyExists(arguments,'aCurrentCustomString')>
			<cfset arguments.aCurrentAttributes=arguments.aCurrentCustomString>
		</cfif>
		<!--- --->

		<cfif arguments.showCurrent>
			<cfset arguments.showCurrent=listFind(event.getValue('contentBean').getPath(),"#arguments.contentID#")>
		</cfif>
		<cfif arguments.showCurrent>					
			<cfset theClass=listAppend(theClass,arguments.aCurrentClass," ") />
		<cfelseif len(arguments.aNotCurrentClass)>
			<cfset theClass=listAppend(theClass,arguments.aNotCurrentClass," ") />
		</cfif>
		<cfif arguments.isParent>					
			<cfset theClass=listAppend(theClass,arguments.aHasKidsClass," ") />
		</cfif>
			
		<cfset href=arguments.renderer.createHREF(type=arguments.type,filename=arguments.filename,siteid=arguments.siteid,contentid=arguments.contentid,target=arguments.target,targetparams=iif(arguments.filename eq event.getValue('contentBean').getfilename(),de(''),de(arguments.targetParams)),querystring=arguments.queryString,context=arguments.context,stub=arguments.stub,indexfile=arguments.indexFile,complete=arguments.complete,showmeta=arguments.showMeta,secure=arguments.secure)>
		<cfif arguments.isBreadCrumb>
			<cfset link='<a itemprop="url" href="#href#"#iif(len(arguments.target) and arguments.target neq '_self',de(' target="#arguments.target#"'),de(""))##iif(len(theClass),de(' class="#theClass#"'),de(""))##iif(len(arguments.id),de(' id="#arguments.id#"'),de(""))##iif(arguments.showCurrent,de(' #replace(arguments.aCurrentAttributes,"##","####","all")#'),de(""))##iif(arguments.isParent and len(arguments.aHasKidsAttributes),de(' #replace(arguments.aHasKidsAttributes,"##","####","all")#'),de(""))#><span itemprop="title">#HTMLEditFormat(arguments.title)#</span></a>' />
		<cfelse>
			<cfset link='<a href="#href#"#iif(len(arguments.target) and arguments.target neq '_self',de(' target="#arguments.target#"'),de(""))##iif(len(theClass),de(' class="#theClass#"'),de(""))##iif(len(arguments.id),de(' id="#arguments.id#"'),de(""))##iif(arguments.showCurrent,de(' #replace(arguments.aCurrentAttributes,"##","####","all")#'),de(""))##iif(arguments.isParent and len(arguments.aHasKidsAttributes),de(' #replace(arguments.aHasKidsAttributes,"##","####","all")#'),de(""))#>#HTMLEditFormat(arguments.title)#</a>' />
		</cfif>
		
		<cfreturn link>
	</cffunction>

	<cffunction name="dspCrumblistLinks"  output="false" returntype="string"> 
		<cfargument name="id" type="string" default="crumblist">
		<cfargument name="separator" type="string" default="">
		<cfargument name="class" type="string" default="#this.navBreadcrumbULClass#">
		<cfargument name="renderer">
		<cfset var crumbdata=arguments.renderer.getValue('crumbdata')>
		<cfset var thenav="" />
		<cfset var theOffset=arrayLen(arguments.renderer.crumbdata)- arguments.renderer.getNavOffSet() />
		<cfset var I = 0 />
		<cfset var event=arguments.renderer.getEvent()>
		<cfif arrayLen(crumbdata) gt (1 + arguments.renderer.getNavOffSet())>
			<cfsavecontent variable="theNav">
				<cfoutput><ul itemscope itemtype="http://data-vocabulary.org/Breadcrumb"<cfif len(arguments.id)> id="#arguments.id#"</cfif> class="mura-breadcrumb breadcrumb<cfif Len(arguments.class)> #arguments.class#</cfif>">
					<cfloop from="#theOffset#" to="1" index="I" step="-1"><cfif I neq 1><li class="#iif(I eq theOffset,de('first'),de(''))#"><cfif i neq theOffset>#arguments.separator#</cfif>#arguments.renderer.addlink(type=crumbdata[I].type,filename=crumbdata[I].filename,title=crumbdata[I].menutitle,target='_self',targetparams='',contentid=crumbdata[I].contentid,siteid=crumbdata[I].siteid,queryString='',context=application.configBean.getContext(),stub=application.configBean.getStub(),indexFile=application.configBean.getIndexFile(),showMeta=event.getValue('showMeta'),showCurrent=0,isBreadCrumb=true)#</li><cfelse><li class="#iif(arraylen(crumbdata),de('last'),de('first'))#">#arguments.separator##arguments.renderer.addlink(type=crumbdata[1].type,filename=crumbdata[1].filename,title=crumbdata[1].menutitle,target='_self',targetparams='',contentid=crumbdata[1].contentid,siteid=crumbdata[1].siteid,queryString='',context=application.configBean.getContext(),stub=application.configBean.getStub(),indexfile=application.configBean.getIndexFile(),showMeta=event.getValue('showMeta'),showCurrent=0,isBreadCrumb=true)#</li></cfif></cfloop>
				</ul></cfoutput>
			</cfsavecontent>
		</cfif>

		<cfreturn trim(theNav)>
	</cffunction>

	<cffunction name="renderIcon" returntype="string" output="false">
		<cfargument name="data">
		<cfargument name="renderer">

		<cfset var iconclass=application.configBean.getClassExtensionManager().getIconClass(argumentCollection=arguments.data)>

		<cfif len(iconclass)>
			<cfreturn iconclass>
		</cfif>

		<cfif arguments.data.type eq 'File'>
			<cfif structKeyExists(arguments.data,"fileExt")>
				<cfreturn lcase(arguments.data.fileExt)>
			<cfelse>
				<cfreturn "page">
			</cfif>
		<cfelse>
			<cfreturn lcase(arguments.data.type)>
		</cfif>
	</cffunction>

	<cffunction name="addToHTMLHeadQueue" output="false">
		<cfargument name="text">
		<cfargument name="action" default="append">
		<cfargument name="renderer">
		<cfset var event=arguments.renderer.getEvent()>
		<cfset var q=event.getValue(property='HTMLHeadQueue',defaultValue=[])>
		<cfif not arrayFind(q,arguments.text)>
			<cfif arguments.action eq "append">
				<cfset arrayAppend(q,arguments.text)>
			<cfelse>
				<cfset arrayPrepend(q,arguments.text)>
			</cfif>
			<cfset event.setValue('HTMLHeadQueue',q) />
		</cfif>
	</cffunction>

	<cffunction name="addToHTMLFootQueue" output="false">
		<cfargument name="text">
		<cfargument name="action" default="append">	
		<cfargument name="renderer">
		<cfset var event=arguments.renderer.getEvent()>
		<cfset var q=event.getValue(property='HTMLFootQueue',defaultValue=[])>
		<cfif not arrayFind(q,arguments.text)>
			<cfif arguments.action eq "append">
				<cfset arrayAppend(q,arguments.text)>
			<cfelse>
				<cfset arrayPrepend(q,arguments.text)>
			</cfif>
			<cfset event.setValue('HTMLFootQueue',q) />
		</cfif>
	</cffunction>

	<cffunction name="renderObjectClassOption" output="false">
		<cfargument name="object">
		<cfargument name="objectid" default="">
		<cfargument name="objectname" default="">
		<cfargument name="objectlabel">

		<cfif not isDefined('arguments.objectlabel')>
			<cfset arguments.objectlabel=arguments.objectname>
		</cfif>

		<cfreturn '<div class="mura-sidebar__objects-list__object-item mura-objectclass" data-object="#esapiEncode('html_attr',arguments.object)#" data-objectid="#esapiEncode('html_attr',arguments.objectid)#" data-objectname="#esapiEncode('html_attr',arguments.objectname)#">#esapiEncode('html',arguments.objectlabel)#</div>'>
	</cffunction>

</cfcomponent>